@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Rajdhani&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

fieldset {
  border: none; }

table {
  border-collapse: collapse; }

/* header ---------------------------------------------------------------------------------- */
#header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 3;
  /* header hover ========== */
  /* 모바일 버전 헤더 ========== */ }
  #header .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #header .inner .logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 10; }
      #header .inner .logo a {
        font: normal 28px/1 'Bangers';
        color: #fff;
        letter-spacing: 1px; }
    #header .inner #gnb {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      #header .inner #gnb li {
        display: inline-block;
        margin: 0 5px;
        position: relative; }
        #header .inner #gnb li a {
          display: block;
          padding: 5px 15px;
          font: 700 14px/1 'Noto Sans KR';
          color: #fff; }
    #header .inner #util {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
      #header .inner #util li {
        display: inline-block;
        margin-left: 10px; }
        #header .inner #util li a {
          display: block;
          font: 700 13px/1 'Noto Sans KR';
          color: #fff; }
        #header .inner #util li:nth-of-type(2) {
          font-size: 13px;
          color: #fff; }
        #header .inner #util li:nth-of-type(1) a {
          color: #bbb; }
  #header:hover {
    background: #111;
    border-bottom: 1px solid #888; }
    #header:hover .inner #gnb li:hover::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: -33px;
      left: 0; }
  #header .btn_menu_mo {
    display: none;
    opacity: 0;
    width: 34px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 10; }
    #header .btn_menu_mo span {
      width: 70%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-bottom: -1px;
      text-indent: -9999px;
      background: #fff;
      opacity: 1;
      transition: 0.5s; }
    #header .btn_menu_mo::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      transition: 0.5s 0.3s;
      transform-origin: left center; }
    #header .btn_menu_mo::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      transition: 0.5s 0.3s;
      transform-origin: left center; }
    #header .btn_menu_mo.on span {
      left: -100%;
      opacity: 0; }
    #header .btn_menu_mo.on::before {
      transform: rotate(45deg); }
    #header .btn_menu_mo.on::after {
      transform: rotate(-45deg); }
  #header #gnb_mo {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 30px 0;
    background: rgba(17, 17, 17, 0.95);
    transition: 0.5s;
    opacity: 0;
    z-index: 5; }
    #header #gnb_mo li {
      width: 100%; }
      #header #gnb_mo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        font: 900 40px/1 'Noto Sans KR';
        color: #fff;
        letter-spacing: 1px;
        position: relative; }
        #header #gnb_mo li a .plus {
          width: 25px;
          height: 25px;
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          text-indent: -9999px;
          transition: 0.5s; }
          #header #gnb_mo li a .plus::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            transform: rotate(90deg);
            transition: 0.5s; }
          #header #gnb_mo li a .plus::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px; }
          #header #gnb_mo li a .plus.on::before {
            transform: rotate(0deg); }
    #header #gnb_mo.on {
      top: 0;
      opacity: 1; }

/* visual ---------------------------------------------------------------------------------- */
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #visual .slide {
    width: calc(100% * 2);
    height: 100%;
    margin-left: 0%; }
    #visual .slide::after {
      content: '';
      display: block;
      clear: both; }
    #visual .slide li {
      width: calc(100% / 2);
      height: 100%;
      float: left;
      position: relative; }
      #visual .slide li video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        filter: brightness(0.5); }
      #visual .slide li .inner {
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative; }
        #visual .slide li .inner .title {
          width: 70%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%); }
          #visual .slide li .inner .title h1 {
            font: normal 5vw/1 'Rajdhani';
            color: #fff;
            letter-spacing: 1px;
            margin-bottom: 18px; }
          #visual .slide li .inner .title p {
            font: 300 17px/1.7 'Noto Sans KR';
            color: #ddd;
            margin-bottom: 56px; }
          #visual .slide li .inner .title a {
            display: inline-block;
            padding: 12px 32px;
            border: 1px solid #ddd;
            font: 400 16px/1 'Noto Sans KR';
            color: #ddd; }

/* content ---------------------------------------------------------------------------------- */
#content {
  width: 100%;
  padding: 100px 0; }
  #content .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto;
    position: relative; }

/* footer ---------------------------------------------------------------------------------- */
#footer {
  width: 100%;
  padding: 80px 0 0;
  background: #252628; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner #footer_menu::after {
      content: '';
      display: block;
      clear: both; }
    #footer .inner #footer_menu ul {
      float: left;
      margin-bottom: 25px; }
      #footer .inner #footer_menu ul li {
        display: inline-block;
        margin-right: 20px; }
        #footer .inner #footer_menu ul li a {
          font: bold 20px/1 'Rajdhani';
          color: #ccc;
          letter-spacing: 1px; }
    #footer .inner #footer_menu .search {
      float: right;
      width: 22%;
      height: 30px;
      position: relative; }
      #footer .inner #footer_menu .search input[type="text"] {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid #aaa;
        background: none;
        font: 500 16px/1 'Noto Sans KR';
        color: #fff; }
      #footer .inner #footer_menu .search i {
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        font-size: 15px;
        color: #777; }
    #footer .inner #sns {
      margin-bottom: 25px; }
      #footer .inner #sns::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner #sns li {
        float: left;
        margin-right: 12px; }
        #footer .inner #sns li a {
          display: block;
          width: 40px;
          height: 40px;
          background: #555;
          border-radius: 50%;
          text-align: center; }
          #footer .inner #sns li a i {
            line-height: 40px;
            font-size: 22px;
            color: #252628; }
    #footer .inner .policy {
      margin-bottom: 40px; }
      #footer .inner .policy::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .policy li {
        float: left;
        margin-right: 20px; }
        #footer .inner .policy li a {
          font: 400 14px/1 'Noto Sans KR';
          color: #777; }
    #footer .inner > p {
      font: 300 14px/1 'Noto Sans KR';
      color: #777;
      position: relative;
      padding-top: 10px;
      padding-bottom: 60px; }
      #footer .inner > p::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #555;
        position: absolute;
        top: 0;
        left: 0; }
    #footer .inner .go_top {
      width: 100%;
      height: 40px;
      background: none;
      position: absolute;
      bottom: 0;
      left: 0; }
      #footer .inner .go_top .arrow {
        width: 1px;
        height: 40px;
        background: #777;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
        #footer .inner .go_top .arrow::before {
          content: '';
          display: block;
          width: 13px;
          height: 1px;
          background: #777;
          position: absolute;
          top: 5px;
          left: -1px;
          transform: rotate(45deg); }
        #footer .inner .go_top .arrow::after {
          content: '';
          display: block;
          width: 13px;
          height: 1px;
          background: #777;
          position: absolute;
          top: 5px;
          left: -11px;
          transform: rotate(-45deg); }

@media screen and (max-width: 1179px) {
  /* header ---------------------------------------------------------------------------------- */
  #header {
    padding: 0 30px;
    background: #111;
    border-bottom: 1px solid #888;
    /* 모바일 버전 헤더 ========== */ }
    #header .inner {
      width: 100%; }
      #header .inner #gnb {
        display: none; }
      #header .inner #util {
        display: none; }
    #header .btn_menu_mo {
      display: block;
      opacity: 1; }

  /* footer ---------------------------------------------------------------------------------- */
  #footer {
    padding: 80px 30px 0; }
    #footer .inner {
      width: 100%; }
      #footer .inner #footer_menu::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner #footer_menu ul {
        float: left;
        margin-bottom: 25px; }
        #footer .inner #footer_menu ul li {
          display: inline-block;
          margin-right: 20px; }
          #footer .inner #footer_menu ul li a {
            font: bold 20px/1 'Rajdhani';
            color: #ccc;
            letter-spacing: 1px; }
      #footer .inner #footer_menu .search {
        float: right;
        width: 22%;
        height: 30px;
        position: relative; }
        #footer .inner #footer_menu .search input[type="text"] {
          width: 100%;
          height: 100%;
          border: none;
          border-bottom: 1px solid #aaa;
          background: none;
          font: 500 16px/1 'Noto Sans KR';
          color: #fff; }
        #footer .inner #footer_menu .search i {
          position: absolute;
          top: 50%;
          right: 1px;
          transform: translateY(-50%);
          font-size: 15px;
          color: #777; }
      #footer .inner #sns {
        margin-bottom: 25px; }
        #footer .inner #sns::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner #sns li {
          float: left;
          margin-right: 20px; }
          #footer .inner #sns li a {
            font-size: 30px;
            color: #555; }
      #footer .inner .policy {
        margin-bottom: 40px; }
        #footer .inner .policy::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .policy li {
          float: left;
          margin-right: 20px; }
          #footer .inner .policy li a {
            font: 400 14px/1 'Noto Sans KR';
            color: #777; }
      #footer .inner > p {
        font: 300 14px/1 'Noto Sans KR';
        color: #777;
        position: relative;
        padding-top: 10px;
        padding-bottom: 60px; }
        #footer .inner > p::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #555;
          position: absolute;
          top: 0;
          left: 0; }
      #footer .inner .go_top {
        width: 100%;
        height: 40px;
        background: none;
        position: absolute;
        bottom: 0;
        left: 0; }
        #footer .inner .go_top .arrow {
          width: 1px;
          height: 40px;
          background: #777;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
          #footer .inner .go_top .arrow::before {
            content: '';
            display: block;
            width: 13px;
            height: 1px;
            background: #777;
            position: absolute;
            top: 5px;
            left: -1px;
            transform: rotate(45deg); }
          #footer .inner .go_top .arrow::after {
            content: '';
            display: block;
            width: 13px;
            height: 1px;
            background: #777;
            position: absolute;
            top: 5px;
            left: -11px;
            transform: rotate(-45deg); } }
/* header ---------------------------------------------------------------------------------- */
#header_sub {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 3;
  /* header hover ========== */
  /* 모바일 버전 헤더 ========== */ }
  #header_sub .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner .logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 10; }
      #header_sub .inner .logo a {
        font: normal 28px/1 'Bangers';
        color: #fff;
        letter-spacing: 1px; }
    #header_sub .inner #gnb {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      #header_sub .inner #gnb li {
        display: inline-block;
        margin: 0 5px;
        position: relative; }
        #header_sub .inner #gnb li a {
          display: block;
          padding: 5px 15px;
          font: 700 14px/1 'Noto Sans KR';
          color: #fff; }
    #header_sub .inner #util {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
      #header_sub .inner #util li {
        display: inline-block;
        margin-left: 10px; }
        #header_sub .inner #util li a {
          display: block;
          font: 700 13px/1 'Noto Sans KR';
          color: #fff; }
        #header_sub .inner #util li:nth-of-type(2) {
          font-size: 13px;
          color: #fff; }
        #header_sub .inner #util li:nth-of-type(1) a {
          color: #bbb; }
  #header_sub:hover {
    background: #111;
    border-bottom: 1px solid #888; }
    #header_sub:hover .inner #gnb li:hover::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: -33px;
      left: 0; }
  #header_sub .btn_menu_mo {
    display: none;
    opacity: 0;
    width: 34px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 10; }
    #header_sub .btn_menu_mo span {
      width: 70%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-bottom: -1px;
      text-indent: -9999px;
      background: #fff;
      opacity: 1;
      transition: 0.5s; }
    #header_sub .btn_menu_mo::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      transition: 0.5s 0.3s;
      transform-origin: left center; }
    #header_sub .btn_menu_mo::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      transition: 0.5s 0.3s;
      transform-origin: left center; }
    #header_sub .btn_menu_mo.on span {
      left: -100%;
      opacity: 0; }
    #header_sub .btn_menu_mo.on::before {
      transform: rotate(45deg); }
    #header_sub .btn_menu_mo.on::after {
      transform: rotate(-45deg); }
  #header_sub #gnb_mo {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 30px 0;
    background: rgba(17, 17, 17, 0.95);
    transition: 0.5s;
    opacity: 0;
    z-index: 5; }
    #header_sub #gnb_mo li {
      width: 100%; }
      #header_sub #gnb_mo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        font: 900 40px/1 'Noto Sans KR';
        color: #fff;
        letter-spacing: 1px;
        position: relative; }
        #header_sub #gnb_mo li a .plus {
          width: 25px;
          height: 25px;
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          text-indent: -9999px;
          transition: 0.5s; }
          #header_sub #gnb_mo li a .plus::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            transform: rotate(90deg);
            transition: 0.5s; }
          #header_sub #gnb_mo li a .plus::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px; }
          #header_sub #gnb_mo li a .plus.on::before {
            transform: rotate(0deg); }
    #header_sub #gnb_mo.on {
      top: 0;
      opacity: 1; }

@media screen and (max-width: 1179px) {
  /* header ---------------------------------------------------------------------------------- */
  #header_sub {
    padding: 0 30px;
    background: #111;
    border-bottom: 1px solid #888;
    /* 모바일 버전 헤더 ========== */ }
    #header_sub .inner {
      width: 100%; }
      #header_sub .inner #gnb {
        display: none; }
      #header_sub .inner #util {
        display: none; }
    #header_sub .btn_menu_mo {
      display: block;
      opacity: 1; } }
/* content ------------------------*/
.content {
  width: 100%;
  padding: 0 0 100px; }
  .content .sub_visual {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background: #111;
    margin-bottom: 80px; }
    .content .sub_visual .sub_title {
      width: 1180px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1; }
      .content .sub_visual .sub_title > h1 {
        font: 700 50px/1 'Noto Sans KR';
        color: #fff;
        letter-spacing: 1px;
        position: absolute;
        top: calc( 50% + 50px );
        left: 0;
        transform: translateY(-50%); }
    .content .sub_visual img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
      animation: sub_visual_ani 2.5s 0.2s forwards;
      filter: brightness(0.8); }
  .content .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto;
    position: relative; }

/* footer ---------------------------------------------------------------------------------- */
#footer_sub {
  width: 100%;
  padding: 80px 0 0;
  background: #252628; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner #footer_menu::after {
      content: '';
      display: block;
      clear: both; }
    #footer_sub .inner #footer_menu ul {
      float: left;
      margin-bottom: 25px; }
      #footer_sub .inner #footer_menu ul li {
        display: inline-block;
        margin-right: 20px; }
        #footer_sub .inner #footer_menu ul li a {
          font: bold 20px/1 'Rajdhani';
          color: #ccc;
          letter-spacing: 1px; }
    #footer_sub .inner #footer_menu .search {
      float: right;
      width: 22%;
      height: 30px;
      position: relative; }
      #footer_sub .inner #footer_menu .search input[type="text"] {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid #aaa;
        background: none;
        font: 500 16px/1 'Noto Sans KR';
        color: #fff; }
      #footer_sub .inner #footer_menu .search i {
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        font-size: 15px;
        color: #777; }
    #footer_sub .inner #sns {
      margin-bottom: 25px; }
      #footer_sub .inner #sns::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner #sns li {
        float: left;
        margin-right: 12px; }
        #footer_sub .inner #sns li a {
          display: block;
          width: 40px;
          height: 40px;
          background: #555;
          border-radius: 50%;
          text-align: center; }
          #footer_sub .inner #sns li a i {
            line-height: 40px;
            font-size: 22px;
            color: #252628; }
    #footer_sub .inner .policy {
      margin-bottom: 40px; }
      #footer_sub .inner .policy::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .policy li {
        float: left;
        margin-right: 20px; }
        #footer_sub .inner .policy li a {
          font: 400 14px/1 'Noto Sans KR';
          color: #777; }
    #footer_sub .inner > p {
      font: 300 14px/1 'Noto Sans KR';
      color: #777;
      position: relative;
      padding-top: 10px;
      padding-bottom: 60px; }
      #footer_sub .inner > p::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #555;
        position: absolute;
        top: 0;
        left: 0; }
    #footer_sub .inner .go_top {
      width: 100%;
      height: 40px;
      background: none;
      position: absolute;
      bottom: 0;
      left: 0; }
      #footer_sub .inner .go_top .arrow {
        width: 1px;
        height: 40px;
        background: #777;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
        #footer_sub .inner .go_top .arrow::before {
          content: '';
          display: block;
          width: 13px;
          height: 1px;
          background: #777;
          position: absolute;
          top: 5px;
          left: -1px;
          transform: rotate(45deg); }
        #footer_sub .inner .go_top .arrow::after {
          content: '';
          display: block;
          width: 13px;
          height: 1px;
          background: #777;
          position: absolute;
          top: 5px;
          left: -11px;
          transform: rotate(-45deg); }

@keyframes sub_visual_ani {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

/*# sourceMappingURL=style.css.map */
