.about {
    .inner {
        .intro {
            width: 100%;
            padding: 0 0 100px;
            position: relative;

            h2 { font: 900 18px/1 'Noto Sans KR'; color: #333; margin-bottom: 50px;}

            &::after{content: ''; display: block; clear: both;}

            .left {
                width: 50%;
                float: left;

                h3 {
                    font: bold 42px/1.3 'arial'; color: #111;
                    letter-spacing: -1px;
                    margin-bottom: 20px;
                }
                p {
                    font: 400 16px/1.5 'Noto Sans KR'; color: #444;
                }
            }

            .right {
                width: 50%;
                float: right;
                padding: 0 50px;

                .wrap {
                    margin-bottom: 50px;

                    h3 {
                        font: bold 18px/1 'arial'; color: #333;
                        margin-bottom: 18px;
                    }
                    p {
                        font: 400 15px/1.4 'Noto Sans KR'; color: #555;
                    }
                }
            }
            .circle1 {
                width: 60px; height: 60px;
                border-radius: 50%;
                background: #efefef;
                position: absolute;
                top: 0; right: 0;
                transform: translateY(100px);
                opacity: 0;
                transition: 1s;

                &.on {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            .spotlight {
                margin-top: 70px;
                width: 100%; height: 200px;
                float: left;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .circleBack {
                    width: 200px; height: 200px;
                    border-radius: 50%;
                    background: #5f4b8b;
                    position: absolute;
                    z-index: 0;
                    top: 0; left: 0;
                }
                .circleFront {
                    width: 200px; height: 200px;
                    border-radius: 50%;
                    background: #b76ca4;
                    opacity: 0.5;
                    z-index: 2;
                    position: absolute;
                    top: 0; left: 0;
                }
                .spotTxt {
                    display: block;
                    font: bold 4vw/1 'arial'; color: #efefef;
                    // letter-spacing: 1px;
                    z-index: 1;
                    opacity: 0.5;
                }
            }
        }

        .values {
            width: 100%;
            margin-bottom: 50px;
            .wrap{
                width: 100%; height: 600px;
                display: flex;
                z-index: 1;

                article {
                    flex: 1;
                    padding: 70px 40px 100px;
                    opacity: 0.6;
                    transition: 1s;
                    position: relative;
                    z-index: 1;
    
                    .txt {
                        width: 100%; height: 100%;
                        border-top: 3px solid #444;

                        span {
                            display: inline-block;
                            margin-top: 15px;
                            font: 500 15px/1.2 'Noto Sans KR'; color: #ccc;
                        }
                        h3 {
                            padding-top: 30px;
                            font: normal 2vw/1.1 'Bangers'; color: #222; letter-spacing: 1px;
                            margin-bottom: 20px;
                            transition: 1s;
                        }
                        .subtitle {
                            font: 500 22px/1.4 'Noto Sans KR'; color: #333;
                            margin-bottom: 50px;
                            transition: 0.5s;
                        }
                        .arrow {
                            width: 32px; height: 3px;
                            background: #111;
                            position: relative;
                            transition: 0.5s;

                            &::after {
                                content: ''; display: block;
                                width: 14px; height: 3px;
                                background: #111;
                                position: absolute;
                                top: 0; right: 0;
                                transform: rotate(40deg);
                                transform-origin: right center;
                            }
                        }
                        p {
                            font: 400 15px/1.6 'Noto Sans KR'; color: #444;
                            display: none;
                            opacity: 0;
                            transition: 0.5s;
                        }
                    }

                    &::before {
                        content: ''; display: block;
                        width: 100%; height: 90%;
                        background: #efefef65;
                        z-index: -1;
                        position: absolute;
                        top: -300px; left: 0;
                        opacity: 0;
                        transition: 1s;
                    }

                    &:hover {
                        flex: 1.5;
                        opacity: 1;
                        z-index: 2;
                        .txt {
                            border-top: 4px solid #5f4b8b;
                            h3 { font-size: 3vw; padding-top: 20px; margin-bottom: 10px;}
                            .subtitle { font-size: 18px; font-weight: 700; margin-bottom: 15px;}
                            .arrow { display: none;}
                            p { display: block; opacity: 1;}
                        }

                        &::before { top: 0px; opacity: 0.5;}
                    }
                }
            }
        }
        .department {
            width: 100%; min-height: 500px;

            .divi_tree {
                width: 100%;
                position: relative;

                li {
                    .ceo {
                        text-align: center;
                        position: relative;
                        top: 0; left: 50%; transform: translateX(-50%);

                        >p {
                            font: 500 16px/1 'Noto Sans KR'; color: #555;
                            margin-bottom: 4px;
                        }
                        >span {
                            font: 700 26px/1 'Noto Sans KR'; color: #333; letter-spacing: 1px;
                        }

                        &::after {
                            content: ''; display: block;
                            width: 2px; height: 40px;
                            position: absolute;
                            top: 70px; left: 50%; margin-left: -1px;
                            background: #777;
                        }
                    }
                    ul {
                        width: 100%;
                        margin-top: 90px;

                        &::after { content: ''; display: block; clear: both;}

                        li {
                            width: calc((100% - 40px) / 3);
                            margin: 0px 20px 20px 0px;
                            float: left;

                            .member {
                                width: 100%;
                                border: 1px solid #ddd;
                                padding: 25px 20px;

                                .wrap {
                                    width: 100%;
                                    padding-bottom: 15px;
                                    border-bottom: 1px solid #ddd;
                                    margin-bottom: 15px;

                                    &::after { content: ''; display: block; clear: both;}

                                    .name {
                                        display: block; float: left;
                                        font: 700 18px/1 'Noto Sans KR'; color: #333;
                                    }
                                    .depart {
                                        display: block; float: right;
                                        font: 400 15px/1 'Noto Sans KR'; color: #555;
                                    }
                                }
                                .num {
                                    display: inline-block;
                                    font: 400 15px/1 'Noto Sans KR'; color: #555;
                                    margin-bottom: 10px;
                                }
                                >p {
                                    font: 400 15px/1.5 'Noto Sans KR'; color: #555;
                                }
                            }

                            &:nth-of-type(3n){ margin: 0px 0px 20px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .about {
        .inner {

            .department {
                .divi_tree {
                    li {
                        ul {
                            li {
                                width: calc((100% - 20px) / 2);
    
                                &:nth-of-type(3n){ margin: 0px 20px 20px 0px;}
                                &:nth-of-type(2n){ margin: 0px 0px 20px;}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    .about {
        .inner {

            .department {
                .divi_tree {
                    li {
                        ul {
                            li {
                                width: 100%;

                                margin: 0px 0px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
