.join {
    .sub_visual img { object-position: bottom;}

    .inner {
        h3 {
            font: 500 22px/1 'Noto Sans KR'; color: #111;
            margin-bottom: 40px;
            padding-bottom: 30px; border-bottom: 1px solid #ccc;
        }
        input[type="checkbox"] { margin-right: 10px; margin-bottom: 20px;}        

        .agree_box {
            .agreement {
                width: 100%;

                &::after {content: ''; display: block; clear: both;}

                label { float: left;}
                .overview {
                    float: right;
                    font: 300 16px/1 'Noto Sans KR'; color: #777;

                    .btn_overview {
                        display: inline-block;
                        width: 20px; height: 20px;
                        margin-left: 8px;
                        position: relative;

                        &::before {
                            content: ''; display: block;
                            width: 70%; height: 1px;
                            background: #999;
                            position: absolute;
                            left: -4px; top: 13px;
                            transform: rotate(-45deg);
                        }
                        &::after {
                            content: ''; display: block;
                            width: 70%; height: 1px;
                            background: #999;
                            position: absolute;
                            right: 0px; top: 13px;
                            transform: rotate(45deg);
                        }
                    }
                    // 나중에 on 스크립트로 변경 예정
                    &:hover {
                        .btn_overview::before {
                            transform: rotate(45deg);
                        }
                        .btn_overview::after {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            textarea {
                width: 100%; height: 150px;
                resize: none;
                padding: 20px;
                background: rgba(0, 0, 0, 0.02);
                border: none; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa;
                margin-bottom: 30px;
            }

            p { font: 700 14px/1.6 'Noto Sans KR'; color: #999; margin-bottom: 100px;}
        }

        .wrap {
            width: 100%;

            .left_intro {
                width: 25%; height: 570px;
                background: rgba(0, 0, 0, 0.02);
                padding: 60px 30px;
                float: left;

                h3 {
                    font: 500 18px/1 'Noto Sans KR'; color: #333;
                    margin-bottom: 20px;}
                p {
                    font: 300 15px/2 'Noto Sans KR'; color: #777;
                    >span {
                        position: relative;
                        &::after {
                            content: ''; display: block; background: #aaa;
                            width: 100%; height: 1px;
                            position: absolute; bottom: 0; left: 0;
                        }
                    }
                }
            }

            .right_essential {
                width: 75%;
                float: left;
                padding: 0px 50px;

                table {
                    width: 100%;
                    tr {
                        th {
                            width: 18%;
                            text-align: left;
                            padding: 0px 0px 50px;
                            font: bold 15px/1 'arial'; color: #666;

                            &::after {
                                content: '*'; display: inline-block;
                                margin-left: 5px;
                                transform: translateY(3px);
                                font-weight: bold;
                                color: inherit;
                            }

                        }
                        td {
                            width: 82%;
                            padding: 0px 20px 50px;

                            ul li {
                                font: 300 14px/1 'Noto Sans KR'; color: #999;
                                margin-top: 10px;
                            }
                            
                            input[type="text"], input[type="password"] {
                                width: 100%; height: 40px;
                                border: none;
                                border-bottom: 1px solid #ccc;
                                transition: 0.5s;

                                &::placeholder { font: 400 16px/1 'Noto Sans KR'; color: #ccc;}
                                &:focus { border-bottom: 2px solid #888; background: rgba(0, 0, 0, 0.02);}
                            }

                            select {
                                width: calc( 100% - 160px ); height: 40px;
                                border: none;
                                border-bottom: 1px solid #777;
                                margin-top: 10px;
                                font: 400 16px/1 'Noto Sans KR'; color: #777;
                                transition: 0.5s;

                                &::placeholder { font: 400 16px/1 'Noto Sans KR'; color: #ccc;}
                                &:focus { border-bottom: 2px solid #888; background: rgba(0, 0, 0, 0.02);}
                            }

                            //에러 메시지 스타일
                            p {
                                font: 12px/1 "맑은고딕"; color: #ff7913;
                                margin: 5px 0;
                            }
                        }

                        .btnEmailConfirm {
                            display: inline-block;
                            width: 140px; height: 40px;
                            font: 400 15px/38px 'Noto Sans KR'; color: #333;
                            border: 1px solid #555;
                            text-align: center;
                            margin-top: 10px; margin-bottom: 10px;
                            margin-left: 5px;
                        }

                        #confirm {
                            width: calc( 100% - 160px );
                        }

                        &:nth-of-type(3) th, &:nth-of-type(3) td { padding-bottom: 20px;}
                    }
                }
            }

            .btn_submit{
                float: left;
                width: 100%;
                text-align: center;

                input[type="reset"] {
                    width: 150px; height: 40px;
                    font: 400 15px/38px 'Noto Sans KR'; color: #333;
                    border: 1px solid #555;
                    background: #fff;
                    margin-right: 10px;
                    cursor: pointer;
                }
                input[type="submit"] {
                    width: 150px; height: 40px;
                    font: 300 15px/38px 'Noto Sans KR'; color: #fff;
                    background: #333;
                    border: none;
                    cursor: pointer;
                }
            }

            
        }
    }
}

/* 태블릿 --------------------------------------------------------------------------*/
@media screen and (max-width:$tablet) {
    .join{
        .inner {
            .agree_box {
                .agreement {
                    label { float: left;}
                    .overview { float: right;}
                }
                p { font: 700 14px/1.6 'Noto Sans KR'; margin-bottom: 100px;}
            }
    
            .wrap {
                .left_intro {
                    width: 0%;
                    float: none;
                    display: none;
                }
    
                .right_essential {
                    width: 100%;
                    float: none;
                    padding: 0 0 60px;
    
                    table {
                        tr {
                            th {
                                width: 30%;
                                font: 500 16px/1 'Noto Sans KR';
                            }
                            td {
                                width: 70%;
                                padding: 20px 0px 20px 20px;
    
                                p {
                                    font: 300 14px/1 'Noto Sans KR';
                                }

                                select {
                                    width: calc( 100% - 160px );
                                }
                            }
    
                            .btn_send {
                                width: 140px; height: 40px;
                                font: 500 14px/40px 'Noto Sans KR';
                                margin-top: 10px; margin-bottom: 10px;
                            }
                            .btn_confirm {
                                width: 140px; height: 40px;
                                font: 500 14px/40px 'Noto Sans KR';
                            }
    
                            #confirm {
                                width: calc( 100% - 160px );
                            }
                        }
                    }
                }
    
                .btn_submit{
                    float: none;
    
                    input[type="reset"] {
                        width: 150px; height: 40px;
                        font: 500 16px/40px 'Noto Sans KR';
                    }
                    input[type="submit"] {
                        width: 150px; height: 40px;
                        font: 500 16px/40px 'Noto Sans KR';
                    }
                }
            }
        }
    }
}

/* 모바일 --------------------------------------------------------------------------*/
@media screen and (max-width:$mobile) {
    .join{
        .inner {
            h2 {
                font: 500 22px/1 'Noto Sans KR';
                margin-bottom: 40px;
            }
            h2.title_essential::after {
                display: block;
                font: 300 14px/1 'Noto Sans KR';
                margin: 10px 0 0;
            }

            .agree_box {
                .agreement {
                    label { float: left;}
                    .overview { float: right; margin-bottom: 20px;}
                }
                p { font: 700 11px/1.4 'Noto Sans KR'; margin-bottom: 80px;}
            }
    
            .wrap {
                .right_essential {
                    padding: 0 0 30px;
    
                    table {
                        tr {
                            th {
                                width: 34%;
                                font: 500 14px/1 'Noto Sans KR';
                            }
                            td {
                                width: 66%;
                                padding: 20px 0px 20px 10px;
    
                                p { font: 300 12px/1 'Noto Sans KR';}

                                select { width: 100%; margin-top: 5px;}
                            }
    
                            .btn_send {
                                width: 100%;
                                font: 500 14px/40px 'Noto Sans KR';
                                margin: 5px 0px 15px;
                            }
                            .btn_confirm {
                                width: 100%;
                                font: 500 14px/40px 'Noto Sans KR';
                                margin: 5px 0px 0px;
                            }
                            #confirm { width: 100%;}
                        }
                    }
                }
    
                .btn_submit{
                    float: none;
    
                    input[type="reset"] {
                        width: 100%;
                        font: 500 16px/40px 'Noto Sans KR';
                        margin: 0 0 5px;
                    }
                    input[type="submit"] {
                        width: 100%;
                        font: 500 16px/40px 'Noto Sans KR';
                        margin: 0;
                    }
                }
            }
        }
    }
}