.location {
    .inner {
        padding: 0 0 100px;

        #map {
            width: 100%; height: 30vw;
        }
        .btnTraffic {
            float: right;
            margin-top: 10px;

            li {
                float: left;
                margin-left: 10px;

                a {
                    display: block;
                    width: 200px; height: 40px;
                    border: 2px solid #333;
                    font: 500 14px/38px 'Noto Sans KR'; color: #333;
                    text-align: center;
                }

                &.on {
                    a {
                        border: none;
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }

        .info {
            width: 100%;
            margin-top: 100px;
            position: relative;
            padding: 0 0 60px 60px;
            padding-left: 60px;
            border-bottom: 1px solid #bbb;

            i {
                position: absolute;
                top: 0; left: 0;
                font-size: 50px;
                color: #333;
            }
            .add {
                font: 700 20px/1 'Noto Sans KR'; color: #444; letter-spacing: 1px;
                margin-bottom: 16px;
            }
            .tel {
                font: 300 16px/1 'Noto Sans KR'; letter-spacing: 1px;

                >span { font-weight: 500; margin-right: 7px; letter-spacing: 0;}
            }
        }

        .subway {
            width: 100%;
            padding: 50px 0;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 30%;
                float: left;
                padding-left: 30px;
                font: 700 18px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 70%;
                float: left;
                padding-right: 30px;
                font: 400 16px/1 'Noto Sans KR'; color: #333;
                span {
                    display: inline-block;
                    color: #fff; padding: 3px 8px; margin-bottom: 12px;
                    &:nth-of-type(1) { background-color: green; margin-right: 5px;}
                    &:nth-of-type(2) { background-color: rgb(45, 148, 216); margin-right: 5px;}
                    &:nth-of-type(3) { background-color: purple;}
                }
                p { color: #333;}
            }
        }
        .bus {
            width: 100%;
            padding: 50px 0;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 30%;
                float: left;
                padding-left: 30px;
                font: 700 18px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 70%;
                float: left;
                padding-right: 30px;
                font: 400 15px/1 'Noto Sans KR'; color: #222;
                ul li {
                    margin-bottom: 6px;
                    span {
                        display: inline-block;
                        font: 400 16px/1 'Noto Sans KR';
                        color: #fff; padding: 3px 8px;
                        background: blue;
                        margin-right: 10px;
                    }

                    &:nth-of-type(2) span { background: green;}
                    &:nth-of-type(3) span { background: yellow; color: #333;}
                }
            }
        }
        .car {
            width: 100%;
            padding: 50px 0;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 30%;
                float: left;
                padding-left: 30px;
                font: 700 18px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 70%;
                float: left;
                padding-right: 30px;
                font: 400 15px/1.4 'Noto Sans KR'; color: #222;
                ul{
                    li {
                        margin-bottom: 50px;

                        span {
                            display: block;
                            font: 700 16px/1 'Noto Sans KR';
                            margin-bottom: 15px;
                        }
                        &:last-of-type { margin-bottom: 0;}
                    }
                }
            }
        }
    }
}