.location {
    background: #eeeae3;
    .sub_visual img { object-position: top; filter: brightness(0.9);}

    .inner {
        min-height: 0;
        .info {
            width: 100%;
            margin: 60px 0 40px;
            position: relative;
            padding-left: 60px;

            i {
                position: absolute;
                top: 0; left: 0;
                font-size: 50px;
                color: #333;
            }
            .add {
                font: 700 20px/1 'Noto Sans KR'; color: #444;
                margin-bottom: 12px;
            }
            .tel {
                font: 300 16px/1 'Noto Sans KR'; letter-spacing: 1px;

                >span { font-weight: 500; margin-right: 7px; letter-spacing: 0;}
            }
        }

        .mapWrap {
            width: 100%;
            position: relative;
            #map {
                width: 100%; height: 25vw;
            }
            .btnTraffic {
                width: 160px; height: 60px;
                position: absolute;
                bottom: 0px; left: 0px;
                background: #eeeae3;
                z-index: 1;
                padding: 10px;
    
                li {
                    float: left;
                    margin-left: 8px;

    
                    a {
                        display: block;
                        width: 60px; height: 40px;
                        background: #eeeae3;
                        text-align: center;

                        i {
                            font-size: 18px;
                            line-height: 40px;
                            color: #333;
                            position: relative;
                        }
                    }
    
                    &.on {
                        a {
                            border: 1px solid rgba(255, 255, 255, 0.7);
                            background: rgba(255, 255, 255, 0.3);
                        }
                    }
                    &:hover {
                        a i { font-size: 20px;}
                    }

                    &:nth-of-type(1){
                        a i::after {
                            content: ''; display: block;
                            width: 2px; height: 28px;
                            background: #111;
                            position: absolute;
                            top: 5px; left: 6px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        .subway {
            width: 100%;
            padding: 50px 0;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 30%;
                float: left;
                padding-left: 30px;
                font: 700 18px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 70%;
                float: left;
                padding-right: 30px;
                font: 400 16px/1 'Noto Sans KR'; color: #333;
                span {
                    display: inline-block;
                    color: #fff; padding: 3px 8px; margin-bottom: 12px;
                    &:nth-of-type(1) { background-color: green; margin-right: 5px;}
                    &:nth-of-type(2) { background-color: rgb(45, 148, 216); margin-right: 5px;}
                    &:nth-of-type(3) { background-color: purple;}
                }
                p { color: #333;}
            }
        }
        .bus {
            width: 100%;
            padding: 50px 0;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 30%;
                float: left;
                padding-left: 30px;
                font: 700 18px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 70%;
                float: left;
                padding-right: 30px;
                font: 400 15px/1 'Noto Sans KR'; color: #222;
                ul li {
                    margin-bottom: 6px;
                    span {
                        display: inline-block;
                        font: 400 16px/1 'Noto Sans KR';
                        color: #fff; padding: 3px 8px;
                        background: blue;
                        margin-right: 10px;
                    }

                    &:nth-of-type(2) span { background: green;}
                    &:nth-of-type(3) span { background: yellow; color: #333;}
                }
            }
        }
        .car {
            width: 100%;
            padding: 50px 0;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 30%;
                float: left;
                padding-left: 30px;
                font: 700 18px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 70%;
                float: left;
                padding-right: 30px;
                font: 400 15px/1.4 'Noto Sans KR'; color: #222;
                ul{
                    li {
                        margin-bottom: 50px;

                        span {
                            display: block;
                            font: 700 16px/1 'Noto Sans KR';
                            margin-bottom: 15px;
                        }
                        &:last-of-type { margin-bottom: 0;}
                    }
                }
            }
        }
    }
}