.location {
    .sub_visual img { object-position: top; filter: brightness(0.9);}

    .inner {
        h2 { text-align: center;}
        
        .info {
            width: 100%;
            margin: 40px 0;
            position: relative;
            text-align: center;

            i {
                width: 100%;
                font-size: 36px;
                color: #333;
                margin-bottom: 20px;
            }
            .add {
                display: inline-block;
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                >span {
                    display: inline-block;
                    font: 300 30px/1.4 'Noto Sans KR'; color: #333; font-style: italic;
                    padding-right: 1px;
                    opacity: 0;
                }
            }
            >p {
                font: 400 16px/1.7 'Noto Sans KR'; color: #777;
            }
        }

        >img {
            width: 100%; height: 250px; object-fit: cover; object-position: center 32%;
            margin-bottom: 20px;
        }

        .subway {
            width: 100%;
            padding: 40px 0 50px;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 20%;
                float: left;
                padding-left: 20px;
                font: 500 16px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 80%;
                float: left;
                padding-right: 30px;
                font: 400 14px/1 'Noto Sans KR'; color: #333;
                span {
                    display: inline-block;
                    color: #fff; padding: 3px 8px; margin-bottom: 10px;
                    background: #333;
                    &:nth-of-type(1) { margin-right: 5px;}
                    &:nth-of-type(2) { margin-right: 5px;}
                }
                p { color: #111;}
            }
        }
        .bus {
            width: 100%;
            padding: 40px 0 50px;
            border-bottom: 1px solid #bbb;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 20%;
                float: left;
                padding-left: 20px;
                font: 500 16px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 80%;
                float: left;
                padding-right: 30px;
                font: 400 15px/1 'Noto Sans KR'; color: #333;
                ul li {
                    margin-bottom: 6px;
                    span {
                        display: inline-block;
                        font: 400 14px/1 'Noto Sans KR';
                        color: #fff; padding: 3px 8px;
                        background: #333;
                        margin-right: 10px;
                    }
                }
            }
        }
        .car {
            width: 100%;
            padding: 40px 0 50px;

            &::after { content: ''; display: block; clear: both;}

            >.left {
                width: 20%;
                float: left;
                padding-left: 20px;
                font: 500 16px/1 'Noto Sans KR'; color: #333;
            }
            >.right {
                width: 80%;
                float: left;
                padding-right: 30px;
                font: 300 15px/1.4 'Noto Sans KR'; color: #222;
                ul{
                    li {
                        margin-bottom: 40px;

                        span {
                            display: block;
                            font: 500 16px/1 'Noto Sans KR';
                            margin-bottom: 10px;
                        }
                        &:last-of-type { margin-bottom: 20px;}
                    }
                }
            }
        }

        .mapWrap {
            width: 100%;
            position: relative;
            margin-bottom: 80px;
            #map {
                width: 100%; height: 25vw;
            }
            .btnTraffic {
                width: 125px; height: 60px;
                position: absolute;
                bottom: 0px; left: 0px;
                background: #fff;
                z-index: 1;
                padding: 10px 10px 10px 10px;
    
                li {
                    float: left;
                    margin-left: 10px;

                    a {
                        display: block;
                        width: 40px; height: 40px;
                        background: #fff;
                        border-radius: 50%;
                        text-align: center;
                        transition: 0.5s;

                        i {
                            font-size: 18px;
                            line-height: 40px;
                            color: #444;
                            position: relative;
                            opacity: 0.6;
                            transition: 0.5s;
                        }
                    }
                    &:nth-of-type(1){
                        a i::after {
                            content: ''; display: block;
                            width: 2px; height: 26px;
                            background: #444;
                            position: absolute;
                            top: 6px; left: 6px;
                            transform: rotate(-45deg);
                            transition: 0.5s;
                        }
                    }

                    &.on {
                        a {
                            background: #238cfa;
                            i { opacity: 1; color: #fff;
                            &::after { background: #fff;}
                            }
                        }
                    }

                    &:hover {
                        a i {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .lower {
            width: 100%;
            padding-top: 40px;
            border-top: 1px solid #bbb;
            margin-bottom: 50px;

            &::after { content: ''; display: block; clear: both;}

            .hour {
                float: left;
                width: 50%;
    
                &::after { content: ''; display: block; clear: both;}
    
                >.left {
                    width: 25%;
                    float: left;
                    padding-left: 20px;
                    font: 500 16px/1 'Noto Sans KR'; color: #333;
                }
                >.right {
                    width: 75%;
                    float: left;
                    padding-right: 30px;
                    font: 300 15px/1.4 'Noto Sans KR'; color: #222;
                    ul{
                        li {
                            margin-bottom: 20px;
                            strong { font-weight: 400; margin-right: 10px;}
                        }
                    }
                }
            }

            .contact {
                float: left;
                width: 50%;
    
                &::after { content: ''; display: block; clear: both;}
    
                >.left {
                    width: 25%;
                    float: left;
                    padding-left: 20px;
                    font: 500 15px/1 'Noto Sans KR'; color: #333;
                }
                >.right {
                    width: 75%;
                    float: left;
                    padding-right: 30px;
                    font: 300 15px/1.4 'Noto Sans KR'; color: #222;
                    ul{
                        li {
                            margin-bottom: 20px;
                            strong { font-weight: 400; margin-right: 10px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .location {
        .inner {
            .info {
                i { font-size: 40px;}
                .add {
                    font: 300 28px/1.4 'Noto Sans KR';
                    margin-bottom: 26px;
                }
                >p { font: 400 16px/1.7 'Noto Sans KR';}
            }
    
            >img { height: 200px; margin-bottom: 20px;}
    
            .subway {
                padding: 40px 0 50px;

                >.left {
                    width: 20%;
                    padding-left: 10px;
                    font: 700 14px/1 'Noto Sans KR';
                }
                >.right {
                    width: 80%;
                    padding-right: 10px;
                    font: 400 13px/1 'Noto Sans KR';
                }
            }
            .bus {
                padding: 40px 0 50px;
    
                >.left {
                    width: 20%;
                    padding-left: 10px;
                    font: 700 14px/1 'Noto Sans KR';
                }
                >.right {
                    width: 80%;
                    padding-right: 10px;
                    font: 400 13px/1.7 'Noto Sans KR';
                    ul li { margin-bottom: 10px;}
                }
            }
            .car {
                padding: 40px 0 50px;
    
                >.left {
                    width: 20%;
                    padding-left: 10px;
                    font: 700 14px/1 'Noto Sans KR';
                }
                >.right {
                    width: 80%;
                    padding-right: 10px;
                    font: 300 13px/1.4 'Noto Sans KR';
                    ul{
                        li {
                            margin-bottom: 30px;
                            span {
                                font: 500 14px/1.4 'Noto Sans KR';
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
    
            .mapWrap {
                margin-bottom: 60px;
                #map { height: 40vw;}

                .btnTraffic {
                    width: 125px; height: 60px;
                    padding: 10px 10px 10px 10px;
        
                    li {
                        margin-left: 10px;
    
                        a {
                            width: 40px; height: 40px;
    
                            i {
                                font-size: 18px;
                                line-height: 40px;
                            }
                        }
                        &:nth-of-type(1){
                            a i::after {
                                width: 2px; height: 26px;
                                top: 6px; left: 6px;
                            }
                        }
                    }
                }
            }
    
            .lower {
                margin-bottom: 0px;
    
                .hour {
                    float: none;
                    width: 100%;
                    margin-bottom: 30px;
        
                    >.left {
                        width: 20%;
                        padding-left: 10px;
                        font: 700 14px/1.2 'Noto Sans KR';
                    }
                    >.right {
                        width: 80%;
                        padding-right: 10px;
                        font: 400 13px/1.4 'Noto Sans KR';
                        ul{
                            li { margin-bottom: 20px;}
                        }
                    }
                }
    
                .contact {
                    float: none;
                    width: 100%;
        
                    >.left {
                        width: 20%;
                        padding-left: 10px;
                        font: 700 14px/1.2 'Noto Sans KR';
                    }
                    >.right {
                        width: 80%;
                        padding-right: 10px;
                        font: 400 13px/1.4 'Noto Sans KR';
                        ul{
                            li { margin-bottom: 20px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    .location {
        .inner {
    
            >img { height: 150px; margin-bottom: 10px;}
    
            .subway {
                padding: 30px 0 40px;

                >.left {
                    width: 25%;
                    font: 700 13px/1 'Noto Sans KR';
                }
                >.right {
                    width: 75%;
                    font: 400 12px/1 'Noto Sans KR';
                }
            }
            .bus {
                padding: 30px 0 40px;

                >.left {
                    width: 25%;
                    font: 700 13px/1 'Noto Sans KR';
                }
                >.right {
                    width: 75%;
                    font: 400 12px/1.7 'Noto Sans KR';
                    ul li { margin-bottom: 10px;}
                }
            }
            .car {
                padding: 30px 0 40px;
    
                >.left {
                    width: 25%;
                    font: 700 13px/1 'Noto Sans KR';
                }
                >.right {
                    width: 75%;
                    font: 400 12px/1.7 'Noto Sans KR';
                    ul{
                        li {
                            margin-bottom: 40px;
                            span {
                                font: 500 13px/1.4 'Noto Sans KR';
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
    
            .mapWrap {
                margin-bottom: 60px;
                #map { height: 80vw;}

                .btnTraffic {
                    width: 125px; height: 60px;
                    padding: 10px 10px 10px 10px;
        
                    li {
                        margin-left: 10px;
    
                        a {
                            width: 40px; height: 40px;
    
                            i {
                                font-size: 18px;
                                line-height: 40px;
                            }
                        }
                        &:nth-of-type(1){
                            a i::after {
                                width: 2px; height: 26px;
                                top: 6px; left: 6px;
                            }
                        }
                    }
                }
            }
    
            .lower {
                margin-bottom: 0px;
    
                .hour {
                    margin-bottom: 30px;
        
                    >.left {
                        width: 25%;
                        font: 700 13px/1 'Noto Sans KR';
                    }
                    >.right {
                        width: 75%;
                        font: 400 12px/1.4 'Noto Sans KR';
                        ul{
                            li { margin-bottom: 20px;}
                        }
                    }
                }
    
                .contact {
        
                    >.left {
                        width: 25%;
                        font: 700 13px/1 'Noto Sans KR';
                    }
                    >.right {
                        width: 75%;
                        font: 400 12px/1.4 'Noto Sans KR';
                        ul{
                            li { margin-bottom: 20px;}
                        }
                    }
                }
            }
        }
    }
}