.youtube {
    background: #efefef;

    .inner {
        article {
            width: 100%; height: 300px;
            position: relative;
            background: #fff;
            margin-bottom: 25px;
            transition: 1s;

            a {
                width: 100%; height: 100%;

                &::after { content: ''; display: block; clear: both;}

                .thumnails {
                    width: 40%; height: 100%;
                    float: left;
                    overflow: hidden;

                    img {
                        width: 100%; height: 100%;
                        object-fit: cover; object-position: center;
                        float: left;
                        transform: scale(1.15);
                    }
                }

                .con {
                    width: 60%; height: 100%;
                    padding: 40px 20px;
                    float: right;
                    position: relative;

                    h2 {
                        font: 700 22px/1.2 'Noto Sans KR'; color: #333;
                        margin-bottom: 20px;
                    }
                    p {
                        font: 300 16px/1.5 'Noto Sans KR'; color: #555;
                    }
                    span {
                        font: 300 16px/1 'Noto Sans KR'; color: steelblue;
                        position: absolute;
                        bottom: 25px; left: 20px;
                    }
                }
            }

            &:hover { box-shadow: 0px 0px 40px #5f4b8b4d;}
        }
    }

    .pop {
        width: 100%; height: 100vh;
        position: fixed;
        top: 0; left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99;

        iframe {
            width: 800px; height: 450px;
            position: absolute;
            top: 50%; left: 50%;
            margin-top: -225px; margin-left: -400px;
        }

        >span {
            display: block;
            width: 50px; height: 50px;
            text-indent: -999px;
            position: absolute;
            top: 50%; left: 50%;
            margin-left: 398px; margin-top: -231px;
            cursor: pointer;
            font-size: 0;

            &::before {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #efefef;
                position: absolute;
                top: 25px; left: 0;
                transform: rotate(45deg);
            }
            &::after {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #efefef;
                position: absolute;
                top: 25px; left: 0;
                transform: rotate(-45deg);
            }
        }
    }

}