.youtube {
    background: #2D2C4D;

    .inner {
        h2 { font-weight: 700; color: #fff;}
        &::after {content: ''; display: block; clear: both;}

        article {
            width: calc((100% - 20px) / 2);
            height: calc(18vw + 120px);
            position: relative;
            // background: #fff;
            float: left;
            margin: 60px 20px 0px 0px;

            a {
                width: 100%;

                &:hover{
                    .thumnails {
                        margin-top: 0px;
                        &::before { transform: translateY(-12%) rotate(30deg);}
                        &::after { transform: rotate(30deg);}
                    }
                }

                .thumnails {
                    width: 17vw; height: 17vw;
                    border-radius: 50%;
                    position: absolute;
                    top: 0; left: 50%; margin-left: -8.5vw; margin-top: 50px;
                    transition: margin 1s;
                    background-position: 200%;
                    background-repeat: no-repeat;

                    //CD 가운데 구멍
                    .dot {
                        width: 3.5vw; height: 3.5vw;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%; left: 50%;
                        margin-top: -1.75vw; margin-left: -1.75vw;
                        background: #2D2C4D;
                        box-shadow: inset 0px 8px 10px rgba(255, 255, 255, 0.08);
                        z-index: 1;
                    }

                    //before:그림자, after:본체
                    &::before, &::after {
                        content: ''; display: block;
                        width: 100%; height: 100%;
                        border-radius: inherit;
                        position: absolute;
                        top: 0; left: 0;
                        background-image: inherit;
                        background-position: center;
                        background-repeat: inherit;
                        background-size: 180%;
                        transform-origin: center center;
                        transform: rotate(-30deg);
                        transition: 1s;
                    }
                    &::before {
                        transform: translateY(-12%) rotate(-30deg);
                        filter: blur(18px) brightness(1);
                        opacity: 0.25;
                    }
                }

                .con {
                    width: 18vw; height: 120px;
                    padding: 25px 20px 20px 10px;
                    position: absolute;
                    top: 17vw; left: 50%; margin-left: -9vw;
                    background: #2D2C4D;
                    text-align: center;
                    box-shadow: 0px -15px 20px rgba(0, 0, 0, 0.35);
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    justify-content: center;

                    p {
                        font: 300 15px/1.2 'Montserrat'; color: #fff;
                    }
                    span {
                        position: absolute;
                        bottom: 0; left: 50%; transform: translateX(-50%);
                        font: 300 13px/1 'Noto Sans KR'; color: #bbb;
                    }

                    //boxshadow top만 만들기 위한 가리개
                    &::before {
                        content: ''; display: block;
                        width: 50%; height: 100%;
                        position: absolute;
                        left: -9vw; top: 0;
                        background: inherit;
                    }
                    &::after {
                        content: ''; display: block;
                        width: 50%; height: 100%;
                        position: absolute;
                        right: -9vw; top: 0;
                        background: inherit;
                    }
                }
            }

            &:nth-of-type(2n) { margin: 60px 0px 0px 0px;}
        }
    }

    .pop {
        width: 100%; height: 100vh;
        position: fixed;
        top: 0; left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99;

        iframe {
            width: 800px; height: 450px;
            position: absolute;
            top: 50%; left: 50%;
            margin-top: -225px; margin-left: -400px;
        }

        >span {
            display: block;
            width: 50px; height: 50px;
            text-indent: -999px;
            position: absolute;
            top: 50%; left: 50%;
            margin-left: 399px; margin-top: -231px;
            cursor: pointer;
            font-size: 0;

            &::before {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #aaa;
                position: absolute;
                top: 25px; left: 0;
                transform: rotate(45deg);
            }
            &::after {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #aaa;
                position: absolute;
                top: 25px; left: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .youtube {
        .inner {
            article {
                height: calc(18vw + 130px);
                a {
                    .thumnails{ width: 22vw; height: 22vw; margin-left: -11vw}
                    .con {
                        width: 19vw; height: 125px; margin-left: -9.5vw;
                        top: 19vw;
    
                        p { font: 400 14px/1.2 'Noto Sans KR';}
                        span { font: 300 11px/1 'Noto Sans KR';}
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    .youtube {
        .inner {
            article {
                width: 100%; height: calc(50vw + 130px);
                margin: 80px 0px 0px;
                a {
                    .thumnails{
                        width: 50vw; height: 50vw; margin-left: -25vw;
                        .dot {
                            width: 8vw; height: 8vw;
                            margin-top: -4vw; margin-left: -4vw;
                        }
                    }
                    .con {
                        width: 46vw; height: 130px; margin-left: -23vw;
                        top: 46vw;
    
                        p { font: 400 16px/1.2 'Noto Sans KR';}
                        span { font: 300 14px/1 'Noto Sans KR';}
                    }
                }
            }
        }
    }
}