@charset 'utf-8';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Rajdhani&display=swap');

// $ultViolet:#5f4b8b;
// $themaPurple:#b76ca4;
// $themaYellow:#ffb025;
// $themaOrange:#ff7913;
// $blackPearl:#4e4b51;

// 'Bangers'
// 'Noto Sans KR'
// 'Rajdhani'

$tablet:1179px;
$mobile:539px;


body {
    width: 100%;
    overflow-x: hidden;
}

/* header ---------------------------------------------------------------------------------- */
#header {
    width: 100%; height: 80px;
    position: absolute;
    top: 0; left: 0;
    transition: 0.5s;
    z-index: 3;

    .inner {
        width: 1180px; height: 100%;
        margin: 0 auto;
        position: relative;

        .logo {
            position: absolute;
            top: 50%; left: 0;
            margin-top: -24px;
            z-index: 10;
            a {
                font: normal 28px/1 'Bangers'; color: #fff;
                letter-spacing: 1px;
            }
        }

        #gnb {
            width: 100%;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            >li {
                display: inline-block;
                margin: 0 5px;
                position: relative;
                height: 80px;

                >a {
                    display: block;
                    padding: 0px 15px;
                    font: 700 14px/80px 'Noto Sans KR'; color: #fff;
                }

                .subMenu {
                    width: 1180px; height: 50px;
                    background: #111;
                    position: absolute;
                    top: 81px; left: 15px;
                    display: none;

                    li {
                        float: left;
                        margin-right: 40px;

                        a {
                            display: block;
                            width: 100%; height: 100%;
                            font: 300 12px/50px 'Noto Sans KR'; color: #fff; letter-spacing: 1px;
                        }
                    }
                    &::before {
                        content: ''; display: block;
                        width: 100%; height: 100%;
                        background: inherit;
                        position: absolute;
                        top: 0; left: -100%;
                    }
                }
            }
        }

        #util {
            position: absolute;
            top: 50%; right: 0;
            transform: translateY(-50%);

            li {
                display: inline-block;
                margin-left: 10px;

                a {
                    display: block;
                    font: 700 13px/1 'Noto Sans KR'; color: #fff;
                }

                &:nth-of-type(2) { font-size: 13px; color: #fff;}

                &:nth-of-type(1) a { color: #bbb;}
            }
        }
    }

    /* header hover ========== */
    &:hover {
        background: #111;
        border-bottom: 1px solid #888;

        .inner #gnb >li:hover::after {
            content: ''; display: block;
            width: 100%; height: 2px;
            background: #fff;
            position: absolute;
            bottom: 0px; left: 0;
        }
    }

    /* 모바일 버전 헤더 ========== */
    .btn_menu_mo {
        display: none; opacity: 0;
        width: 30px; height: 22px;
        position: absolute;
        top: 50%; right: 30px;
        transform: translateY(-50%);
        z-index: 10;

        span {
            width: 70%; height: 2px;
            position: absolute;
            top: 50%; left: 0;
            margin-bottom: -1px;
            text-indent: -9999px;
            background: #fff;
            opacity: 1;
            transition: 0.5s;
        }

        &::before {
            content: ''; display: block;
            width: 100%; height: 2px;
            position: absolute;
            top: 0; left: 0;
            background: #fff;
            transition: 0.5s 0.3s;
            transform-origin: left center;
        }
        &::after {
            content: ''; display: block;
            width: 100%; height: 2px;
            position: absolute;
            bottom: 0; left: 0;
            background: #fff;
            transition: 0.5s 0.3s;
            transform-origin: left center;
        }

        &:hover {
            span { width: 100%;}
        }

        &.on {
            span {left: -100%; opacity: 0;}
            &::before { transform: rotate(45deg);}
            &::after { transform: rotate(-45deg);}
        }
    }

    #gnb_mo {
        position: fixed;
        top: -100vh; left: 0;
        width: 100%; height: 100vh;
        padding: 130px 30px 0;
        background: rgba($color: #111, $alpha: 1);
        transition: 0.5s;
        opacity: 0;
        z-index: 5;

        li {
            width: 100%;
            a {
                display: block;
                width: 100%;
                padding: 22px 0;
                font: 700 36px/1 'Noto Sans KR'; color: #fff;
                letter-spacing: 1px;
                position: relative;

                .plus {
                    width: 25px; height: 25px;
                    display: inline-block;
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                    text-indent: -9999px;
                    transition: 0.5s;

                    &::before {
                        content: ''; display: block;
                        width: 100%; height: 1px;
                        background: #fff;
                        position: absolute;
                        top: 50%; left: 0;
                        margin-top: -1px;
                        transform: rotate(90deg);
                        transition: 0.5s;
                    }
                    &::after {
                        content: ''; display: block;
                        width: 100%; height: 1px;
                        background: #fff;
                        position: absolute;
                        top: 50%; left: 0;
                        margin-top: -1px;
                    }

                    &.on {
                        &::before { transform: rotate(0deg);}
                    }
                }
            }
        }

        &.on {
            top: 0;
            opacity: 1;
        }
    }
}

/* visual ---------------------------------------------------------------------------------- */
#visual {
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
        width: calc(100% * 2); height: 100%;
        margin-left: 0%;

        &::after { content: ''; display: block; clear: both;}

        .swiper-slide {
            width: calc(100% / 2); height: 100%;
            float: left;
            position: relative;

            video {
                width: 100%; height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0; left: 0;
                filter: brightness(0.5);
            }

            .inner {
                width: 1180px; height: 100%;
                margin: 0 auto;
                position: relative;
        
                .title {
                    width: 70%;
                    position: absolute;
                    top: 50%; left: 0;
                    transform: translateY(-50%);
        
                    h1 {
                        font: normal 6vw/1.1 'Rajdhani'; color: #fff;
                        letter-spacing: 1px;
                        margin-bottom: 18px;
                    }
                    p {
                        font: 300 17px/1.7 'Noto Sans KR'; color: #ddd;
                        margin-bottom: 56px;
                    }
                    a {
                        display: inline-block;
                        padding: 12px 32px;
                        border: 1px solid #ddd;
                        font: 400 16px/1 'Noto Sans KR'; color: #ddd;
                        transition: 0.5s;

                        &:hover { background: rgba(255, 255, 255, 0.2);}
                    }
                }
            }
        }
    }

    // .swiper-pagination { opacity: 0;}

    .btn_slide_menu {
        width: 300px;
        position: absolute;
        bottom: 50px; right: 50px;
        z-index: 5;
        display: flex;

        li.btn_slide1 {
            // width: 50px;
            flex-grow: 1;
            float: left;
            margin-right: 10px;
            transition: 0.5s ease;
            a {
                width: 100%;
                display: block;
                
                span {
                    display: inline-block;
                    font: bold 16px/1 'Rajdhani'; color: #fff;
                    margin-right: 5px;
                }
                p {
                    display: none;
                    font: 400 14px/1 'Noto Sans KR'; color: #fff;
                    margin-left: 5px;
                }
                .progress_line {
                    width: 100%; height: 2px;
                    background: #999;
                    margin-top: 8px;
                }
            }

            &.on {
                // width: 240px;
                flex-grow: 4;
                a p { display: inline-block;}
            }
        }

        li.btn_slide2 {
            // width: calc(100% - 80% - 10px);
            // width: 50px;
            flex-grow: 1;
            float: left;
            transition: 0.5s ease;
            a {
                width: 100%;
                display: block;
                
                span {
                    display: inline-block;
                    font: bold 16px/1 'Rajdhani'; color: #fff;
                    margin-right: 5px;
                }
                p {
                    display: none;
                    font: 400 14px/1 'Noto Sans KR'; color: #fff;
                    margin-left: 5px;
                }
                .progress_line {
                    width: 100%; height: 2px;
                    background: #999;
                    margin-top: 8px;
                }
            }

            &.on {
                // width: 240px;
                flex-grow: 4;
                a p { display: inline-block;}
            }
        }
    }
}

/* content ---------------------------------------------------------------------------------- */
#content {
    width: 100%;
    padding: 100px 0;

    .inner {
        width: 1180px; min-height: 500px;
        margin: 0 auto;
        position: relative;

    }
}

/* comment----------------------------*/
#comment {
    width: 100%;
    padding: 100px 0 50px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1 {
            display: inline-block;
            font-size: 26px;
            font-weight: 900;
            line-height: 1;
            font-family: 'Noto Sans KR';
            color: #333;
            margin-bottom: 14px;
            position: relative;
            
            &::after {
                content: ''; display: block;
                width: 60px; height: 2px;
                position: absolute;
                top: 50%; right: 0;
                transform: translateX(80px);
                background: #b76ca4;
            }
        }
        h2 {
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            font-family: 'Noto Sans KR';
            color: #333;
            text-align: left;
            margin-bottom: 70px;
        }

        ul {
            li {
                width: 100%;
                border-bottom: 1px solid #999;

                &:nth-of-type(1) { border-top: 1px solid #111;}

                a .wrap {
                    width: 100%; height: 220px;
                    padding: 40px 0px 10px;

                    .cmt_category {
                        float: left;
                        width: 20%; height: 100%;
                        font: 16px/1 'Noto Sans KR'; color: #b76ca4;
                    }
                    .cmt_txt {
                        float: left;
                        width: 70%; height: 100%;
                        h3 {
                            font: 700 24px/1.3 'Noto Sans KR'; color: #111;
                            margin-bottom: 25px;
                        }
                        span {
                            font: 500 14px/1 'Noto Sans KR'; color: #333;
                        }
                        p {
                            font: 300 14px/1.2 'Noto Sans KR'; color: #333; letter-spacing: 1px;
                            margin-top: 50px;
                        }
                    }
                    .cmt_date {
                        float: right;
                        width: 10%; height: 100%;
                        padding-left: 10px;
                        text-align: center;
                        font: bold 16px/1.2 'Noto Sans KR'; color: #bbb;
                        strong {
                            display: block;
                            font-size: 50px;
                        }
                    }
                }

                &:hover a .wrap .cmt_txt h3 { text-decoration: underline;}
            }
        }
    }
}

/* footer ---------------------------------------------------------------------------------- */
#footer {
    width: 100%;
    padding: 60px 0 0;
    background: rgb(37, 38, 40);

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        #footer_menu {

            &::after { content: ''; display: block; clear: both;}

            ul {
                float: left;
                margin-bottom: 25px;

                li {
                    display: inline-block;
                    margin-right: 20px;
                    a { font: bold 20px/1 'Rajdhani'; color: #ccc; letter-spacing: 1px;}
                }
            }
            
            .search{
                float: right;
                width: 22%; height: 30px;
                position: relative;

                input[type="text"] {
                    width: 100%; height: 100%;
                    border: none;
                    border-bottom: 1px solid #aaa;
                    background: none;
                    font: 500 16px/1 'Noto Sans KR'; color: #fff;
                }

                i {
                    position: absolute;
                    top: 50%; right: 1px;
                    transform: translateY(-50%);
                    font-size: 15px; color: #777;
                }
            }

        }

        #sns {
            margin-bottom: 25px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 12px;
                a { 
                    display: block;
                    width: 40px; height: 40px;
                    background: #555;
                    border-radius: 50%;
                    text-align: center;

                    i {
                        line-height: 40px;
                        font-size: 22px;
                        color: rgb(37, 38, 40);
                    }

                }
            }
        }

        .policy {
            margin-bottom: 40px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 20px;
                a { font: 400 14px/1 'Noto Sans KR'; color: #777;}
            }
        }

        >p {
            font: 300 14px/1 'Noto Sans KR'; color: #777;
            position: relative;
            padding-top: 10px;
            padding-bottom: 60px;

            &::before {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #555;
                position: absolute;
                top: 0; left: 0;
            }
        }
        
        .go_top {
            width: 100%; height: 40px;
            background: none;
            position: absolute;
            bottom: 0; left: 0;

            .arrow {
                width: 1px; height: 40px;
                background: #777;
                position: absolute;
                bottom: 0; left: 50%;
                transform: translateX(-50%);

                &::before {
                    content: '';
                    display: block;
                    width: 13px; height: 1px;
                    background: #777;
                    position: absolute;
                    top: 5px; left: -1px;
                    transform: rotate(45deg);
                }
                &::after {
                    content: '';
                    display: block;
                    width: 13px; height: 1px;
                    background: #777;
                    position: absolute;
                    top: 5px; left: -11px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    /* header ---------------------------------------------------------------------------------- */
    #header {
        position: fixed;
        padding: 0 30px;
        background: #111;
        border-bottom: 1px solid #888;

        .inner {
            width: 100%;
    
            #gnb { display: none;}
            #util { display: none;}
        }

    
        /* 모바일 버전 헤더 ========== */
        .btn_menu_mo { display: block; opacity: 1;}
    }

    /* footer ---------------------------------------------------------------------------------- */
    #footer {
        padding: 40px 30px 0;
    
        .inner {
            width: 100%;
    
            #footer_menu {
                ul {
                    float: none;
                    display: block;
                    margin-bottom: 25px;
    
                    li {
                        margin-right: 18px;
                        a { font: bold 16px/1 'Rajdhani'; color: #ccc; letter-spacing: 1px;}
                    }
                }
                
                .search{
                    float: none;
                    width: 28%; height: 30px;
                    margin-bottom: 30px;
                }
    
            }
    
            #sns {
                margin-bottom: 25px;
    
                li {
                    a { 
                        display: block;
                        width: 40px; height: 40px;
                        background: #555;
                        border-radius: 50%;
                        text-align: center;
    
                        i {
                            line-height: 40px;
                            font-size: 22px;
                            color: rgb(37, 38, 40);
                        }
    
                    }
                }
            }
    
            .policy {
                margin-bottom: 30px;
    
                li {
                    a { font: 400 14px/1 'Noto Sans KR'; color: #777;}
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    /* header ---------------------------------------------------------------------------------- */
    #header {
        padding: 0 30px;
        background: #111;
        border-bottom: 1px solid #888;

        .inner {
            width: 100%;
    
            #gnb { display: none;}
            #util { display: none;}
        }

    
        /* 모바일 버전 헤더 ========== */
        .btn_menu_mo { display: block; opacity: 1;}
    }

    /* footer ---------------------------------------------------------------------------------- */
    #footer {
        padding: 40px 30px 0;
    
        .inner {
            #footer_menu {
                ul {
                    display: none;
                    margin-bottom: 25px;
    
                    li {
                        margin-right: 18px;
                        a { font: bold 16px/1 'Rajdhani'; color: #ccc; letter-spacing: 1px;}
                    }
                }
                
                .search{
                    width: 100%; height: 30px;
                    margin-bottom: 30px;
                }
    
            }
    
            #sns {
    
                li {
                    a { 
                        display: block;
                        width: 40px; height: 40px;
                        background: #555;
                        border-radius: 50%;
                        text-align: center;
    
                        i {
                            line-height: 40px;
                            font-size: 22px;
                            color: rgb(37, 38, 40);
                        }
    
                    }
                }
            }
    
            .policy {
                margin-bottom: 20px;
    
                li {
                    float: none;
                    margin-bottom: 8px;
                    a { font: 400 13px/1 'Noto Sans KR'; color: #777;}
                }
            }
        }
    }
}


@import 'sub_layout';
@import 'about';
@import 'community';
@import 'gallery';
@import 'youtube';
@import 'location';
@import 'join';