@charset 'utf-8';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Francois+One&display=swap&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Rajdhani&display=swap');

// $ultViolet:#5f4b8b;
// $themaPurple:#b76ca4;
// $themaYellow:#ffb025;
// $themaOrange:#ff7913;
// $blackPearl:#4e4b51;
// gardenia:#eeeae3
// Astral aura: #2D2C4D

// 'Bangers'
// 'Noto Sans KR'
// 'Rajdhani'
// 'Francois One'

// font: bold 30px/1 'Rajdhani'; color: #333; letter-spacing: 1px;

$tablet:1179px;
$mobile:539px;



body {
    width: 100%;
    overflow-x: hidden;
}

/* header ---------------------------------------------------------------------------------- */
#header {
    width: 100%; height: 80px;
    position: absolute;
    top: 0; left: 0;
    transition: 0.5s;
    z-index: 3;

    .inner {
        width: 1180px; height: 100%;
        margin: 0 auto;
        position: relative;

        .logo {
            position: absolute;
            top: 50%; left: 0;
            margin-top: -24px;
            z-index: 10;
            a {
                font: normal 28px/1 'Bangers'; color: #fff;
                letter-spacing: 1px;
            }
        }

        #gnb {
            width: 100%;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            >li {
                display: inline-block;
                margin: 0 5px;
                position: relative;
                height: 80px;

                >a {
                    display: block;
                    padding: 0px 15px;
                    font: 700 14px/80px 'Noto Sans KR'; color: #fff;
                }

                .subMenu {
                    width: 1180px; height: 50px;
                    background: #111;
                    position: absolute;
                    top: 80px; left: 15px;
                    display: none;
                    opacity: 0;

                    li {
                        float: left;
                        margin-right: 40px;

                        a {
                            display: block;
                            width: 100%; height: 100%;
                            font: 300 12px/50px 'Noto Sans KR'; color: #fff; letter-spacing: 1px;
                            position: relative;

                            &::after {
                                content: ''; display: block;
                                width: 110%; height: 1px;
                                background: rgba(255, 255, 255, 0.9);
                                position: absolute;
                                top: 52%; left: -5%;
                                opacity: 0;
                            }

                            &:hover {
                                &::after { opacity: 1;}
                            }
                        }
                    }
                    &::before {
                        content: ''; display: block;
                        width: 100%; height: 100%;
                        background: inherit;
                        position: absolute;
                        top: 0; left: -100%;
                    }
                }
            }
        }

        #util {
            position: absolute;
            top: 50%; right: 0;
            transform: translateY(-50%);

            li {
                display: inline-block;
                margin-left: 10px;

                a {
                    display: block;
                    font: 700 13px/1 'Noto Sans KR'; color: #fff;
                }

                &:nth-of-type(2) { font-size: 13px; color: #fff;}

                &:nth-of-type(1) a { color: #bbb;}
            }
        }
    }

    /* header hover ========== */
    &:hover {
        background: #111;
        border-bottom: 1px solid #888;

        .inner #gnb >li:hover::after {
            content: ''; display: block;
            width: 100%; height: 2px;
            background: #fff;
            position: absolute;
            bottom: 0px; left: 0;
        }
    }

    /* 모바일 버전 헤더 ========== */
    .btn_menu_mo {
        display: none; opacity: 0;
        width: 30px; height: 22px;
        position: absolute;
        top: 50%; right: 30px;
        transform: translateY(-50%);
        z-index: 10;

        span {
            width: 70%; height: 2px;
            position: absolute;
            top: 50%; left: 0;
            margin-bottom: -1px;
            text-indent: -9999px;
            background: #fff;
            opacity: 1;
            transition: 0.5s;
        }

        &::before {
            content: ''; display: block;
            width: 100%; height: 2px;
            position: absolute;
            top: 0; left: 0;
            background: #fff;
            transition: 0.5s 0.3s;
            transform-origin: left center;
        }
        &::after {
            content: ''; display: block;
            width: 100%; height: 2px;
            position: absolute;
            bottom: 0; left: 0;
            background: #fff;
            transition: 0.5s 0.3s;
            transform-origin: left center;
        }

        &:hover {
            span { width: 100%;}
        }

        &.on {
            span {left: -100%; opacity: 0;}
            &::before { transform: rotate(45deg);}
            &::after { transform: rotate(-45deg);}
        }
    }

    #gnb_mo {
        position: fixed;
        top: -100vh; left: 0;
        width: 100%; height: 100vh;
        padding: 130px 30px 0;
        background: rgba($color: #111, $alpha: 1);
        transition: 0.5s;
        opacity: 0;
        z-index: 9;

        >li {
            width: 100%;
            position: relative;
            >a {
                display: inline-block;
                width: 90%;
                padding: 22px 0;
                font: 700 36px/1 'Noto Sans KR'; color: #fff;
                letter-spacing: 1px;
                position: relative;
            }
            .plus {
                width: 25px; height: 25px;
                display: inline-block;
                position: absolute;
                top: 40px; right: 5px;
                transform: translateY(-50%);
                text-indent: -9999px;
                transition: 0.5s;
                cursor: pointer;

                &::before {
                    content: ''; display: block;
                    width: 100%; height: 1px;
                    background: #fff;
                    position: absolute;
                    top: 50%; left: 0;
                    margin-top: -1px;
                    transform: rotate(90deg);
                    transition: 0.5s;
                }
                &::after {
                    content: ''; display: block;
                    width: 100%; height: 1px;
                    background: #fff;
                    position: absolute;
                    top: 50%; left: 0;
                    margin-top: -1px;
                }

                &.on {
                    &::before { transform: rotate(0deg);}
                }
            }

            .sub_mo{
                display: none;
                margin-bottom: 20px;
                >li{
                    >a{
                        width: 100%;
                        display: block;
                        padding: 18px 30px;
                        font: 500 16px/1 'Noto Sans KR'; color: #fff;
                    }
                }
            }
        }

        &.on {
            top: 0;
            opacity: 1;
        }
    }
}

/* visual ---------------------------------------------------------------------------------- */
#visual {
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
        width: calc(100% * 2); height: 100%;
        margin-left: 0%;

        &::after { content: ''; display: block; clear: both;}

        .swiper-slide {
            width: calc(100% / 2); height: 100%;
            float: left;
            position: relative;

            video {
                width: 100%; height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0; left: 0;
                filter: brightness(0.5);
            }

            .inner {
                width: 1180px; height: 100%;
                margin: 0 auto;
                position: relative;
        
                .title {
                    width: 70%;
                    position: absolute;
                    top: 50%; left: 0;
                    transform: translateY(-50%);
        
                    h1 {
                        font: normal 6vw/1.1 'Rajdhani'; color: #fff;
                        letter-spacing: 1px;
                        margin-bottom: 18px;
                    }
                    p {
                        font: 300 17px/1.7 'Noto Sans KR'; color: #ddd;
                        margin-bottom: 56px;
                    }
                    a {
                        display: inline-block;
                        padding: 12px 32px;
                        border: 1px solid #ddd;
                        font: 400 16px/1 'Noto Sans KR'; color: #ddd;
                        transition: 0.5s;

                        &:hover { background: rgba(255, 255, 255, 0.2);}
                    }
                }
            }
        }
    }

    // .swiper-pagination { opacity: 0;}

    .btn_slide_menu {
        width: 300px;
        position: absolute;
        bottom: 50px; right: 50px;
        z-index: 5;
        display: flex;

        li.btn_slide1 {
            // width: 50px;
            flex-grow: 1;
            float: left;
            margin-right: 10px;
            transition: 0.5s ease;
            a {
                width: 100%;
                display: block;
                
                span {
                    display: inline-block;
                    font: bold 16px/1 'Rajdhani'; color: #fff;
                    margin-right: 5px;
                }
                p {
                    display: none;
                    font: 400 14px/1 'Noto Sans KR'; color: #fff;
                    margin-left: 5px;
                }
                .progress_line {
                    width: 100%; height: 2px;
                    background: #999;
                    margin-top: 8px;
                }
            }

            &.on {
                // width: 240px;
                flex-grow: 4;
                a p { display: inline-block;}
            }
        }

        li.btn_slide2 {
            // width: calc(100% - 80% - 10px);
            // width: 50px;
            flex-grow: 1;
            float: left;
            transition: 0.5s ease;
            a {
                width: 100%;
                display: block;
                
                span {
                    display: inline-block;
                    font: bold 16px/1 'Rajdhani'; color: #fff;
                    margin-right: 5px;
                }
                p {
                    display: none;
                    font: 400 14px/1 'Noto Sans KR'; color: #fff;
                    margin-left: 5px;
                }
                .progress_line {
                    width: 100%; height: 2px;
                    background: #999;
                    margin-top: 8px;
                }
            }

            &.on {
                // width: 240px;
                flex-grow: 4;
                a p { display: inline-block;}
            }
        }
    }
}

/* content -----------------------------*/
#content {
    width: 100%;
    padding: 100px 0 100px;
    background: #efefef;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1 { font: 28px/1 'Francois One'; color: #555; margin-bottom: 20px;}

        .scroll {
            position: absolute;
            top: 7px; left: 150px;
            display: flex;
            align-items: center;

            p {
                display: inline-block;
                font: bold 14px/1 'Rajdhani'; color: #666;
                margin-right: 6px;
            }
            span {
                display: inline-block;
                text-indent: -9999px;
                font-size: 0;
                width: 20px; height: 1px;
                background: #666;
                position: relative;

                &::after {
                    content: ''; display: block;
                    width: 8px; height: 1px;
                    background: #666;
                    position: absolute;
                    top: 0; right: 0;
                    transform-origin: right center;
                    transform: rotate(30deg);
                }
            }
        }
        .board {
            width: 100%; height: 45px;
            background: #111;
            position: relative;
            margin-bottom: 10px;
            h2 {
                font: 400 14px/1 'Noto Sans KR'; color: #fff;
                position: absolute;
                left: 30px; top: 50%; transform: translateY(-50%);
            }
            .notice {
                width: 100%; height: 135px;
                padding-left: 138px;

                .swiper-slide {
                    p {
                        display: inline-block;
                        font: 300 13px/45px 'Noto Sans KR'; color: #efefef;
                        cursor: pointer;
                    }
                    span {
                        display: inline-block;
                        font: 15px/45px 'Rajdhani'; color: #efefef;
                        padding-left: 12px;
                        margin-left: 15px;
                        position: relative;
                        opacity: 0.8;
                        &::before {
                            content: ''; display: block;
                            height: 16px; width: 1px;
                            background: #aaa;
                            position: absolute;
                            top: 50%; left: 0px; margin-top: -8px;
                        }
                    }
                }
                .swiper-button-prev {
                    left: auto; right: 84px;
                    top: 22px; bottom: auto;
                    filter: grayscale(100%) brightness(2);
                    transform: scale(0.35);
                }
                .swiper-button-next {
                    left: auto; right: 20px;
                    top: 22px; bottom: auto;
                    filter: grayscale(100%) brightness(2);
                    transform: scale(0.35);
                }

                .swiper-pagination-fraction {
                    bottom: auto; left: auto;
                    right: 50px; top: 16px;
                    width: auto;
                    font: 16px/1 'Rajdhani'; color: #bbb;

                    span:nth-of-type(1) {
                        color: #fff;
                    }
                }
            }
        }

        >.mySwiper {
            width: 100%; height: 480px;
            
            .swiper-slide {
                // border-radius: 6px;

                .arrow {
                    position: absolute;
                    right: 30px; top: 35px;
                    width: 14px; height: 1px;
                    background: #888;

                    &::before {
                        content: ''; display: block;
                        position: absolute;
                        top: 0; left: -4px;
                        width: 18px; height: 1px;
                        background: #888;
                        transform: rotate(-45deg);
                        transform-origin: right center;
                    }
                    &::after {
                        content: ''; display: block;
                        position: absolute;
                        top: 0; left: 0;
                        width: 14px; height: 1px;
                        background: #888;
                        transform: rotate(-90deg);
                        transform-origin: right center;
                    }
                }

                &.show {
                    width: 680px; height: 420px;
                    padding: 40px;
                    position: relative;
                    background: #fff;
                    border: 3px solid #ddd;

                    .left {
                        width: 50px;
                        position: absolute;
                        top: 40px; left: 40px;

                        .btnPoster {
                            li {
                                width: 100%; height: 75px;
                                margin-bottom: 12px;
                                background: #333;
                                cursor: pointer;
                                transition: 0.5s;
                                opacity: 0.6;

                                &[data-index="1"] {background: url(../img/poster/poster1.jpg) no-repeat center/cover;}
                                &[data-index="2"] {background: url(../img/poster/poster2.jpg) no-repeat center/cover;}
                                &[data-index="3"] {background: url(../img/poster/poster3.jpg) no-repeat center/cover;}
                                &[data-index="4"] {background: url(../img/poster/poster4.jpg) no-repeat center/cover;}
                                &:hover,&.on { opacity: 1; filter: saturate(110%);}
                            }
                        }
                    }

                    .right {
                        width: 100%;
                        padding-left: 80px;

                        .mainPoster {
                            width: 100%;
                            position: relative;
                            display: none;

                            &[data-index="4"] { display: block;}

                            .imgPoster {
                                width: 200px; height: 300px;
                                position: absolute;
                                top: 0; left: 0;
                                img { width: 100%; height: 100%; object-fit: cover;}
                            }
                            >.txt {
                                margin-left: 230px; padding-top: 10px;
                                span {
                                    font: 16px/1 'Francois One'; color: #555;
                                }
                                .title {
                                    margin-top: 8px; margin-bottom: 20px;
                                    font: 700 26px/1.4 'Noto Sans KR'; color: #333;
                                }
                                p {
                                    font: 400 12px/1.4 'Noto Sans KR'; color: #777;
                                    margin-bottom: 40px;
                                }
                                a {
                                    padding: 8px 30px;
                                    font: 500 12px/1.4 'Noto Sans KR'; color: #333;
                                    border: 1px solid #555;
                                    transition: 0.5s;

                                    &:hover { background: #333; color: #fff;}
                                }
                            }
                        }




                    }

                }

                &.membership {
                    width: 250px; height: 270px;
                    padding: 30px;
                    position: relative;
                    background: #fff;
                    border: 3px solid #ddd;
                    overflow: hidden;
                    cursor: pointer;

                    >.title {
                        margin-bottom: 15px;
                        font: 30px/1 'Francois One'; color: #333; letter-spacing: 1;
                    }
                    >p {
                        font: 400 13px/1.5 'Noto Sans KR'; color: #777;
                    }
                    >img {
                        position: absolute;
                        bottom: -210px; left: 50%;
                        transform: translateX(-50%) scale(0.2);
                        opacity: 0.8;
                    }
                }

                &.post {
                    width: 250px; height: 320px;
                    // padding: 30px;
                    position: relative;
                    border: 3px solid #ddd;
                    overflow: hidden;
                    cursor: pointer;

                        >.txt {
                            position: absolute;
                            bottom: 30px; left: 30px;
                            z-index: 1;
                            span {
                                display: inline-block;
                                width: 42px; height: 16px;
                                border-radius: 8px;
                                background: #fff;
                                text-align: center;
                                font: bold 12px/16px 'Rajdhani'; color: #111;
                            }
                            p {
                                margin-top: 10px;
                                font: 500 17px/1.5 'Noto Sans KR'; color: #fff;
                                strong { font-weight: 700; color: #ffb025;}
                            }
                        }
                        .arrow {
                            background: #efefef;
                            z-index: 1;
                            opacity: 0.8;
        
                            &::before { background: #efefef;}
                            &::after { background: #efefef;}
                        }
    
                        img {
                            position: absolute;
                            width: 100%; height: 100%; object-fit: cover;
                            filter: brightness(0.7) saturate(80%);
                        }
                }

                &.service {
                    width: 250px;

                    article:nth-of-type(1) {
                        width: 100%; height: 130px;
                        padding: 30px;
                        position: relative;
                        background: #fff;
                        border: 3px solid #ddd;
                        overflow: hidden;
                        margin-bottom: 5px;

                        span {
                            font: 16px/1 'Francois One'; color: #555;
                        }
                        .number {
                            margin-top: 8px;
                            font: 28px/1.4 'Francois One'; color: #fff;
                            text-shadow: -1px 0 #222, 0 1px #222, 1px 0 #222, 0 -1px #222;
                        }
                    }

                    article:nth-of-type(2) {
                        width: 100%; height: 65px;
                        position: relative;
                        background: #111;
                        border: 3px solid #111;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        >.sns {
                            &::after { content: ''; display: block; clear: both;}
                
                            li {
                                float: left;
                                margin-right: 10px;
    
                                &:last-of-type { margin-right: 0;}
    
                                a { 
                                    display: block;
                                    width: 34px; height: 34px;
                                    border-radius: 50%;
                                    background: #111;
                                    text-align: center;
                
                                    i {
                                        line-height: 34px;
                                        font-size: 19px;
                                        color: #efefef;
                                    }
                
                                }
                            }
                        }
                    }

                }

                &.event {
                    width: 300px; height: 300px;
                    padding: 30px;
                    position: relative;
                    background: #fff;
                    border: 3px solid #ddd;

                    >span {
                        display: inline-block;
                        font: 16px/1 'Francois One'; color: #555;
                        margin-bottom: 15px;
                    }

                    .eventSlider{
                        width: 240px; height: 200px;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;

                        .sliderList {
                            width: 1200px; height: 100%;

                            &::after { content: ''; display: block; clear: both;}

                            li {
                                width: 240px; height: 100%;
                                float: left;
    
                                .banner {
                                    width: 100%; height: 120px;
                                    overflow: hidden;
                                    img { width: 100%; height: 100%; object-fit: cover; transition: 0.5s;}
                                }
                                .title {
                                    margin-top: 8px;
                                    font: 700 13px/1.3 'Noto Sans KR'; color: #555;
                                    text-align: center;
                                }
                            }
                        }

                        &:hover {
                            .sliderList li .banner {
                                img { transform: scale(1.1); filter: saturate(110%);}
                            }
                        }
                    }

                    .btnNavi {
                        position: absolute;
                        bottom: 30px; left: 50%; transform: translateX(-50%);

                        &::after { content: ''; display: block; clear: both;}

                        li {
                            float: left;
                            width: 9px; height: 9px;
                            border-radius: 50%;
                            border: 2px solid #777;
                            transition: 0.5s;
                            margin: 0 3px;
                            cursor: pointer;
                            opacity: 0.5;

                            &:hover { opacity: 1;}
                            &.on {
                                border: 2px solid #666;
                                background: #666;
                                opacity: 1;
                            }
                        }
                    }
                }

                &.story {
                    width: 150px; height: 350px;
                    position: relative;
                    background: #111;

                    a {
                        width: 100%; height: 100%;
                        position: absolute;
                        top: 0; left: 0;
                        z-index: 1;
                        display: flex;
                        justify-content: center; align-items: center;

                        p {
                            white-space: nowrap;
                            font: 50px/1.3 'Francois One'; color: #111;
                            transform: rotate(90deg);
                            text-shadow: -1px 0 #efefef, 0 1px #efefef, 1px 0 #efefef, 0 -1px #efefef;
                        }
    
                        .arrow {
                            right: 20px; top: 20px;
                            background: #efefef;
                            opacity: 0.8;
        
                            &::before { background: #efefef;}
                            &::after { background: #efefef;}
                        }
    
                        &:hover {
                            p {
                                span{ color: #fff; text-shadow: none;}
                            }
                        }
                    }
                    img {
                        width: 100%; height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0; left: 0;
                        filter: grayscale(1) brightness(0.5);
                    }
                }

                &.vid {
                    width: 200px; height: 150px;
                    position: relative;
                    background: #fff;
                    border: 3px solid #ddd;

                    video {
                        width: 100%; height: 100%;
                        object-fit: cover;
                        object-position: 40% center;
                        filter: saturate(30%);
                    }
                    >img {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%,-50%) scale(0.1);
                        opacity: 0.3;
                    }

                    &:hover {
                        video { filter: saturate(110%);}
                        img { opacity: 0;}
                    }
                }
            }

            .swiper-scrollbar {
                left: 10%;
                width: 100%;
                border-radius: 5px;

                .swiper-scrollbar-drag {
                    border-radius: 5px;
                    background: rgba(0,0,0,.6);
                    position: relative;

                    &::after {
                        content: "Today";
                        display: block;
                        position: absolute;
                        top: -20px; left: 5px;
                        font: bold 13px/1 'Rajdhani'; color: #666;
                    }
                }
            }
        }
        .count {
            position: absolute;
            bottom: -17px; left: 0;

            p {
                font: bold 13px/1 'Rajdhani'; color: #666;
                margin-bottom: 4px;
            }
            span {
                font: bold 28px/1 'Rajdhani'; color: #666; letter-spacing: 1px;
            }
        }

    }
}

/* photo -------------------------*/
#photo {
    width: 100%; height: 550px;
    padding: 50px 0 0;
    background: #4e4b51;
    position: relative;
    overflow: hidden;

    &::after {
        content: ''; display: block;
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        background: url(../img/category_kpop2.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        opacity: 0.2;
        filter: hue-rotate(220deg) brightness(0.4);
    }
    &::before {
        content: ''; display: block;
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        background: #000;
        opacity: 0.3;
    }

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        h1 {
            display: inline-block;
            font: 28px/1 'Francois One'; color: #fff;
            margin-bottom: 20px;
            position: relative;
        }
    
        // .auto {
        //     display: inline-block;
        //     margin-left: 15px;
    
        //     &::after { content: ''; display: block; clear: both;}
    
        //     li {
        //         float: left;
        //         margin-right: 7px;
        //         color: #aaa;
        //         font-size: 17px;
        //         opacity: 0.7;
        //         cursor: pointer;
        //     }
        // }
    }

    .slider {
        width: 2400px; height: 400px;
        position: absolute;
        top: 110px; left: 0;
        z-index: 1;

        >li {
            float: left;
            width: 300px; height: 300px;
            position: relative;
            top: 50%; margin-top: -170px;
            padding: 30px;
            cursor: pointer;
            transition: 0.5s;

            img {
                width: 100%; height: 100%;
                object-fit: cover; object-position: center;
                box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);
                transition: 0.5s;
            }

            &[data-index="2"],&[data-index="4"],&[data-index="6"],&[data-index="8"] {
                padding: 0px 30px 60px;
                .back { top: 0px;}
            }

            .back {
                width: 240px; height: 240px;
                background: rgba(255, 255, 255, 0.7);
                position: absolute;
                top: 30px; left: 30px;
                text-align: center;
                transition: 0.5s;
                opacity: 0;

                >span {
                    display: inline-block;
                    font: 500 14px/1 'Noto Sans KR'; color: #111;
                    margin-top: 80px;
                }
                >.plus {
                    width: 60px; height: 60px;
                    border-radius: 50%;
                    border: 1px solid #333;
                    margin: 15px auto;
                    position: relative;

                    &::before {
                        content: ''; display: block;
                        height: 60%; width: 2px;
                        background: #777;
                        position: absolute;
                        top: 50%; left: 50%; transform: translate(-50%,-50%);
                    }
                    &::after {
                        content: ''; display: block;
                        width: 60%; height: 2px;
                        background: #777;
                        position: absolute;
                        top: 50%; left: 50%; transform: translate(-50%,-50%);
                    }
                }
            }

            &:hover {
                filter: saturate(20%) grayscale(1) contrast(0.7);
                .back { display: block; opacity: 1;}
            }
        }
    }

    .btnMore {
        display: inline-block;
        position: absolute;
        bottom: 50px; left: 50%; transform: translateX(-50%);
        padding: 12px 40px;
        border: 1px solid #ddd;
        font: 400 16px/1 'Noto Sans KR'; color: #ddd;
        transition: 0.5s;
        z-index: 1;

        &:hover { background: rgba(255, 255, 255, 0.2);}
    }
    
}

/* comment----------------------------*/
#comment {
    width: 100%;
    padding: 100px 0 100px;
    min-height: 500px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        >.left {
            width: 32%;
            position: absolute;
            top: 0; left: 0;

            >h1 {
                font: 36px/1 'Francois One'; color: #555;
                margin-top: 100px; margin-bottom: 25px;
            }
            >p {
                font: 300 17px/1.6 'Noto Sans KR'; color: #333;
                margin-bottom: 60px;
            }
            >a {
                font: 500 15px/1 'Noto Sans KR'; color: #333;

                >span {
                    display: inline-block;
                    margin-left: 8px;
                    width: 25px; height: 1px;
                    background: #333;
                    transition: 0.5s;
                    position: relative;
                    transform: translateY(-3px);

                    &::after {
                        content: ''; display: block;
                        position: absolute;
                        right: 0; top: 0;
                        width: 10px; height: 1px;
                        background: #333;
                        transform: rotate(45deg);
                        transform-origin: right center;
                    }
                }

                &:hover {
                    >span { margin-left: 18px;}
                }
            }

        }

        >.right {
            width: 100%;
            padding-left: 32%;

            >ul {
                // border-top: 2px solid #333;
                border-bottom: 3px solid #333;
                li {
                    display: inline-block;
                    padding: 18px 0;
                    font: 900 18px/1 'Noto Sans KR'; color: #999;
                    cursor: pointer;
                    margin-right: 50px;

                    &.on {
                        color: #333;
                    }
                }
            }

            .board {
                ul {
                    li {
                        height: 160px;
                        padding: 30px 30px 30px 0;
                        cursor: pointer;
                        border-bottom: 1px solid #ddd;
                        position: relative;

                        img {
                            position: absolute;
                            top: 30px; left: 0;
                            width: 150px; height: 100px; object-fit: cover;
                        }
                        .txt {
                            margin-left: 175px;

                            >span {
                                font: 500 13px/1 'Noto Sans KR'; color: #555;
                            }
                            >p {
                                font: 700 17px/1 'Noto Sans KR'; color: #444;
                                margin-top: 10px;
                            }
                        }

                        >.back {
                            width: 150px; height: 100px;
                            background: rgba(255, 255, 255, 0.8);
                            position: absolute;
                            top: 30px; left: 0px;
                            transition: 0.5s;
                            opacity: 0;
                            >.plus {
                                width: 50px; height: 50px;
                                border-radius: 50%;
                                border: 1px solid #333;
                                margin: 28px auto;
                                position: relative;
            
                                &::before {
                                    content: ''; display: block;
                                    height: 60%; width: 1px;
                                    background: #333;
                                    position: absolute;
                                    top: 50%; left: 50%; transform: translate(-50%,-50%);
                                }
                                &::after {
                                    content: ''; display: block;
                                    width: 60%; height: 1px;
                                    background: #333;
                                    position: absolute;
                                    top: 50%; left: 50%; transform: translate(-50%,-50%);
                                }
                            }
                        }

                        &:hover {
                            .back { opacity: 1;}
                        }
                    }
                    &.press { display: none;}
                }
            }
        }

    }
}

/* footer ---------------------------------------------------------------------------------- */
#footer {
    width: 100%;
    padding: 50px 0 0;
    background: rgb(37, 38, 40);

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        #footer_menu {

            &::after { content: ''; display: block; clear: both;}

            ul {
                float: left;
                margin-bottom: 25px;

                li {
                    display: inline-block;
                    margin-right: 20px;
                    a { font: 18px/1 'Francois One'; color: #ccc;}
                }
            }
            
            .search{
                float: right;
                width: 22%; height: 30px;
                position: relative;

                input[type="text"] {
                    width: 100%; height: 100%;
                    border: none;
                    border-bottom: 1px solid #aaa;
                    background: none;
                    font: 18px/1 'Francois One'; color: #fff;
                }

                i {
                    position: absolute;
                    top: 50%; right: 1px;
                    transform: translateY(-50%);
                    font-size: 15px; color: #777;
                }
            }

        }

        #sns {
            margin-bottom: 25px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 12px;
                a { 
                    display: block;
                    width: 40px; height: 40px;
                    background: #555;
                    border-radius: 50%;
                    text-align: center;

                    i {
                        line-height: 40px;
                        font-size: 22px;
                        color: rgb(37, 38, 40);
                    }

                }
            }
        }

        .policy {
            margin-bottom: 40px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 20px;
                a { font: 400 14px/1 'Noto Sans KR'; color: #777;}
            }
        }

        >p {
            font: 300 14px/1 'Noto Sans KR'; color: #777;
            position: relative;
            padding-top: 10px;
            padding-bottom: 60px;

            &::before {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #555;
                position: absolute;
                top: 0; left: 0;
            }
        }
        
        .go_top {
            width: 100%; height: 40px;
            background: none;
            position: absolute;
            bottom: 0; left: 0;

            .arrow {
                width: 1px; height: 40px;
                background: #777;
                position: absolute;
                bottom: 0; left: 50%;
                transform: translateX(-50%);

                &::before {
                    content: '';
                    display: block;
                    width: 13px; height: 1px;
                    background: #777;
                    position: absolute;
                    top: 5px; left: -1px;
                    transform: rotate(45deg);
                }
                &::after {
                    content: '';
                    display: block;
                    width: 13px; height: 1px;
                    background: #777;
                    position: absolute;
                    top: 5px; left: -11px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    /* header ---------------------------------------------------------------------------------- */
    #header {
        position: fixed;
        padding: 0 30px;
        background: #111;
        border-bottom: 1px solid #888;

        .inner {
            width: 100%;
    
            #gnb { display: none;}
            #util { display: none;}
        }

    
        /* 모바일 버전 헤더 ========== */
        .btn_menu_mo { display: block; opacity: 1;}
    }
    
    #content {
        .inner {
            width: 100%; padding: 0 30px;

            .swiper-scrollbar { left: 15%;}

            .count { 
                left: 30px; bottom: -10px;
                p { font-size: 12px;}
                span { font-size: 22px;}
            }
        }
    }

    #comment {
        padding: 100px 0 100px;
    
        .inner {
            width: 100%;
    
            >.left {
                width: 100%;
                position: absolute;
                top: 0; left: 0;
    
                >h1 {
                    font: 36px/1 'Francois One'; color: #555;
                    margin-top: 100px; margin-bottom: 25px;
                }
                >p {
                    font: 300 18px/1.7 'Noto Sans KR'; color: #333;
                    margin-bottom: 60px;
                }
                >a {
                    font: 500 15px/1 'Noto Sans KR'; color: #333;
    
                    >span {
                        display: inline-block;
                        margin-left: 8px;
                        width: 25px; height: 1px;
                        background: #333;
                        transition: 0.5s;
                        position: relative;
                        transform: translateY(-3px);
    
                        &::after {
                            content: ''; display: block;
                            position: absolute;
                            right: 0; top: 0;
                            width: 10px; height: 1px;
                            background: #333;
                            transform: rotate(45deg);
                            transform-origin: right center;
                        }
                    }
    
                    &:hover {
                        >span { margin-left: 18px;}
                    }
                }
    
            }
    
            >.right {
                width: 100%;
                padding-left: 32%;
    
                >ul {
                    // border-top: 2px solid #333;
                    border-bottom: 3px solid #333;
                    li {
                        display: inline-block;
                        padding: 18px 0;
                        font: 900 18px/1 'Noto Sans KR'; color: #999;
                        cursor: pointer;
                        margin-right: 50px;
    
                        &.on {
                            color: #333;
                        }
                    }
                }
    
                .board {
                    ul {
                        li {
                            height: 160px;
                            padding: 30px 30px 30px 0;
                            cursor: pointer;
                            border-bottom: 1px solid #ddd;
                            position: relative;
    
                            img {
                                position: absolute;
                                top: 30px; left: 0;
                                width: 150px; height: 100px; object-fit: cover;
                            }
                            .txt {
                                margin-left: 175px;
    
                                >span {
                                    font: 500 13px/1 'Noto Sans KR'; color: #555;
                                }
                                >p {
                                    font: 700 17px/1 'Noto Sans KR'; color: #444;
                                    margin-top: 10px;
                                }
                            }
    
                            >.back {
                                width: 150px; height: 100px;
                                background: rgba(255, 255, 255, 0.8);
                                position: absolute;
                                top: 30px; left: 0px;
                                transition: 0.5s;
                                opacity: 0;
                                >.plus {
                                    width: 50px; height: 50px;
                                    border-radius: 50%;
                                    border: 1px solid #333;
                                    margin: 28px auto;
                                    position: relative;
                
                                    &::before {
                                        content: ''; display: block;
                                        height: 60%; width: 1px;
                                        background: #333;
                                        position: absolute;
                                        top: 50%; left: 50%; transform: translate(-50%,-50%);
                                    }
                                    &::after {
                                        content: ''; display: block;
                                        width: 60%; height: 1px;
                                        background: #333;
                                        position: absolute;
                                        top: 50%; left: 50%; transform: translate(-50%,-50%);
                                    }
                                }
                            }
    
                            &:hover {
                                .back { opacity: 1;}
                            }
                        }
                        &.press { display: none;}
                    }
                }
            }
    
        }
    }

    /* footer ---------------------------------------------------------------------------------- */
    #footer {
        padding: 40px 30px 0;
    
        .inner {
            width: 100%;
    
            #footer_menu {
                ul {
                    float: none;
                    display: block;
                    margin-bottom: 25px;
    
                    li {
                        margin-right: 18px;
                        a { font: 18px/1 'Francois One'; color: #ccc;}
                    }
                }
                
                .search{
                    float: none;
                    width: 28%; height: 30px;
                    margin-bottom: 30px;
                }
    
            }
    
            #sns {
                margin-bottom: 25px;
    
                li {
                    a { 
                        display: block;
                        width: 40px; height: 40px;
                        background: #555;
                        border-radius: 50%;
                        text-align: center;
    
                        i {
                            line-height: 40px;
                            font-size: 22px;
                            color: rgb(37, 38, 40);
                        }
    
                    }
                }
            }
    
            .policy {
                margin-bottom: 30px;
    
                li {
                    a { font: 400 14px/1 'Noto Sans KR'; color: #777;}
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    /* header ---------------------------------------------------------------------------------- */
    #header {
        padding: 0 30px;
        background: #111;
        border-bottom: 1px solid #888;

        .inner {
            width: 100%;
    
            #gnb { display: none;}
            #util { display: none;}
        }

    
        /* 모바일 버전 헤더 ========== */
        .btn_menu_mo { display: block; opacity: 1;}
    }

    /* footer ---------------------------------------------------------------------------------- */
    #footer {
        padding: 40px 30px 0;
    
        .inner {
            #footer_menu {
                ul {
                    display: none;
                    margin-bottom: 25px;
                }
                
                .search{
                    width: 100%; height: 30px;
                    margin-bottom: 30px;
                }
    
            }
    
            #sns {
    
                li {
                    a { 
                        display: block;
                        width: 40px; height: 40px;
                        background: #555;
                        border-radius: 50%;
                        text-align: center;
    
                        i {
                            line-height: 40px;
                            font-size: 22px;
                            color: rgb(37, 38, 40);
                        }
    
                    }
                }
            }
    
            .policy {
                margin-bottom: 20px;
    
                li {
                    float: none;
                    margin-bottom: 8px;
                    a { font: 400 13px/1 'Noto Sans KR'; color: #777;}
                }
            }
        }
    }
}


@import 'sub_layout';
@import 'about';
@import 'community';
@import 'gallery';
@import 'youtube';
@import 'location';
@import 'join';