@charset 'utf-8';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Rajdhani&display=swap');

// $ultViolet:#5f4b8b;
// $themaPurple:#b76ca4;
// $themaYellow:#ffb025;
// $themaOrange:#ff7913;
// $blackPearl:#4e4b51;

$tablet:1179px;
$mobile:539px;

/* header ---------------------------------------------------------------------------------- */
#header {
    width: 100%; height: 100px;
    position: absolute;
    top: 0; left: 0;
    transition: 0.5s;
    z-index: 3;

    .inner {
        width: 1180px; height: 100%;
        margin: 0 auto;
        position: relative;

        .logo {
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);
            z-index: 10;
            a {
                font: normal 30px/1 'Bangers'; color: #fff;
                letter-spacing: 1px;
            }
        }

        #gnb {
            width: 100%;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            li {
                display: inline-block;
                margin: 0 15px;
                position: relative;

                a {
                    display: block;
                    padding: 5px 15px;
                    font: 900 15px/1 'Noto Sans KR'; color: #fff;
                }
            }
        }

        #util {
            position: absolute;
            top: 50%; right: 0;
            transform: translateY(-50%);

            li {
                display: inline-block;
                margin-left: 10px;

                a {
                    display: block;
                    font: 700 13px/1 'Noto Sans KR'; color: #fff;
                }

                &:nth-of-type(2) { font-size: 13px; color: #fff;}

                &:nth-of-type(1) a { color: #bbb;}
            }
        }
    }

    /* header hover ========== */
    &:hover {
        background: #111;
        border-bottom: 1px solid #999;

        .inner #gnb li:hover::after {
            content: ''; display: block;
            width: 100%; height: 2px;
            background: #fff;
            position: absolute;
            bottom: -38px; left: 0;
        }
    }

    /* 모바일 버전 헤더 ========== */
    .btn_menu_mo {
        display: none; opacity: 0;
        width: 40px; height: 30px;
        position: absolute;
        top: 50%; right: 0;
        transform: translateY(-50%);
        z-index: 10;

        span {
            width: 70%; height: 2px;
            position: absolute;
            top: 50%; left: 0;
            margin-bottom: -1px;
            text-indent: -9999px;
            background: #fff;
            opacity: 1;
            transition: 0.5s;
        }

        &::before {
            content: ''; display: block;
            width: 100%; height: 2px;
            position: absolute;
            top: 0; left: 0;
            background: #fff;
            transition: 0.5s 0.3s;
            transform-origin: left center;
        }
        &::after {
            content: ''; display: block;
            width: 100%; height: 2px;
            position: absolute;
            bottom: 0; left: 0;
            background: #fff;
            transition: 0.5s 0.3s;
            transform-origin: left center;
        }

        &.on {
            span {left: -100%; opacity: 0;}
            &::before { transform: rotate(45deg);}
            &::after { transform: rotate(-45deg);}
        }
    }

    #gnb_mo {
        position: fixed;
        top: -100vh; left: 0;
        width: 100%; height: 100vh;
        padding: 100px 30px 0;
        background: rgba($color: #111, $alpha: 0.95);
        transition: 0.5s;
        opacity: 0;
        z-index: 5;

        li {
            width: 100%;
            a {
                display: block;
                width: 100%;
                padding: 20px 0;
                font: 900 40px/1 'Noto Sans KR'; color: #fff;
                letter-spacing: 1px;
                position: relative;

                .plus {
                    width: 25px; height: 25px;
                    display: inline-block;
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                    text-indent: -9999px;
                    transition: 0.5s;

                    &::before {
                        content: ''; display: block;
                        width: 100%; height: 2px;
                        background: #fff;
                        position: absolute;
                        top: 50%; left: 0;
                        margin-top: -1px;
                        transform: rotate(90deg);
                        transition: 0.5s;
                    }
                    &::after {
                        content: ''; display: block;
                        width: 100%; height: 2px;
                        background: #fff;
                        position: absolute;
                        top: 50%; left: 0;
                        margin-top: -1px;
                    }

                    &.on {
                        &::before { transform: rotate(0deg);}
                    }
                }
            }
        }

        &.on {
            top: 0;
            opacity: 1;
        }
    }
}


/* visual ---------------------------------------------------------------------------------- */
#visual {
    width: 100%; height: 100vh;
    position: relative;
    background: rebeccapurple;

    .inner {
        width: 1180px; height: 100%;
        margin: 0 auto;
        position: relative;

        .title {
            width: 70%;
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);

            h1 {
                font: normal 5vw/1 'Rajdhani'; color: #fff;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
            p {
                font: 300 20px/1.2 'Noto Sans KR'; color: #ddd;
                margin-bottom: 30px;
            }
            a {
                display: inline-block;
                padding: 12px 32px;
                border: 1px solid #ddd;
                font: 400 18px/1 'Noto Sans KR'; color: #ddd;
            }
        }
    }
}

/* content ---------------------------------------------------------------------------------- */
#content {
    width: 100%;
    padding: 100px 0;

    .inner {
        width: 1180px; min-height: 500px;
        margin: 0 auto;
        position: relative;

    }
}

/* footer ---------------------------------------------------------------------------------- */
#footer {
    width: 100%;
    padding: 80px 0;
    background: rgb(37, 38, 40);

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        #footer_menu {

            &::after { content: ''; display: block; clear: both;}

            ul {
                float: left;
                margin-bottom: 25px;

                li {
                    display: inline-block;
                    margin-right: 20px;
                    a { font: bold 24px/1 'Rajdhani'; color: #ccc; letter-spacing: 1px;}
                }
            }
            
            input[type="text"] {
                float: right;
                width: 25%; height: 30px;
                border-bottom: 1px solid #aaa;
                background: none;
                font: bold 20px/1 'Rajdhani'; color: #fff;
            }
        }

        #sns {
            margin-bottom: 25px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 20px;
                a { font-size: 42px; color: #555;}
            }
        }

        .policy {
            margin-bottom: 40px;
            &::after { content: ''; display: block; clear: both;}

            li {
                float: left;
                margin-right: 20px;
                a { font: 400 16px/1 'Noto Sans KR'; color: #777;}
            }
        }

        >p {
            font: 300 16px/1 'Noto Sans KR'; color: #777;
            position: relative;
            padding-top: 10px;

            &::before {
                content: ''; display: block;
                width: 100%; height: 1px;
                background: #555;
                position: absolute;
                top: 0; left: 0;
            }
        }
        
        .go_top {

        }
    }
}